<div>
    <h5>Event Agreement Application Form</h5>

    <h6>Welcome to the Event Agreement Application</h6>
    <p>
        We're pleased in your interest in holding an event at our location.
        <br />
        Please answer the following items to initiate the application process.
    </p>
    <div class="form-group row">
        <label for="DesiredLocation" class="col-sm-2 col-form-label">Desired Location</label>
        <div class="col-sm-10">
            <select id="DesiredLocation" name="DesiredLocation" class="form-control form-control-sm">
                <option>Valley Pasture</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="EventName" class="col-sm-2 col-form-label">Event Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" id="EventName" name="EventName" value="Picnic Party" />
        </div>
    </div>

    <p>Please select the topics involved in your event:</p>
    <div class="form-group row">
        <div class="col-sm-10">
            <table>
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkbox1" value="option1">
                            <label class="form-check-label" for="checkbox1">Biking</label>
                        </div>
                    </td>
                    <td style="width: 50px;"></td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkbox2" value="option1">
                            <label class="form-check-label" for="checkbox2">Playground</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkbox3" value="option1">
                            <label class="form-check-label" for="checkbox3">Hiking</label>
                        </div>
                    </td>
                    <td style="width: 50px;"></td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkbox4" value="option1">
                            <label class="form-check-label" for="checkbox4">Overnight Camping</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkbox5" value="option1">
                            <label class="form-check-label" for="checkbox5">Motorbikes</label>
                        </div>
                    </td>
                    <td style="width: 50px;"></td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkbox6" value="option1">
                            <label class="form-check-label" for="checkbox6">Daytime Camping</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkbox7" value="option1">
                            <label class="form-check-label" for="checkbox7">Picknicking</label>
                        </div>
                    </td>
                    <td style="width: 50px;"></td>
                    <td>
                                
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkbox1" value="option1">
                            <label class="form-check-label" for="checkbox1">Hunting</label>
                        </div>
                    </td>
                    <td style="width: 50px;"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkbox1" value="option1">
                            <label class="form-check-label" for="checkbox1">Swimming</label>
                        </div>
                    </td>
                    <td style="width: 50px;"></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>  

    <p>Please describe your desired event (under 500 words):</p>
    <div class="form-group row">
        <div class="col-sm-10">
            <textarea id="EventDescription" name="EventDescription" class="form-control" rows="4">We're planning to up a picnic party and then go hiking and bike riding.</textarea>
        </div>
    </div>

    <p>Please describe the location of your event (under 500 words):</p>
    <div class="form-group row">
        <div class="col-sm-10">
            <textarea id="EventDescription" name="EventDescription" class="form-control" rows="4">We'll be primarily on the south trail near the big ash tree.</textarea>
        </div>
    </div>

    <p>Upload at least one map identifying the location:</p>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="button" class="btn btn-primary btn-sm">Upload Map</button>
            <table class="table table-striped table-bordered table-condensed table-hover table-sm">
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                <tr>
                    <td><a href="#">Map1.jpg</a></td>
                    <td><strong><em><a href="#">Delete</a></em></strong></td>
                </tr>
                <tr>
                    <td><a href="#">Map2.jpg</a></td>
                    <td><strong><em><a href="#">Delete</a></em></strong></td>
                </tr>
            </table>
        </div>
    </div>

    <p>
        When will your event occur? 
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">Add Date</a>
    </p>
    <div class="form-group row">
        <div class="col-sm-10">
            <table class="table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <td><input type="text" class="form-control form-control-sm" id="Date1" name="Date1" value="1/25/2018 - 1/30/2018" /></td>
                    <td><a href="#">Remove Date</a></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control form-control-sm" id="Date2" name="Date2" value="2/2/2018" /></td>
                    <td><a href="#">Remove Date</a></td>
                </tr>
            </table>
        </div>
    </div>

    <p>
        Maximum number of participants and spectators (estimate):
    </p>
    <div class="form-group row">
        <div class="col-sm-10">
            <table>
                <tr>
                    <td>Participants: &nbsp;&nbsp;</td>
                    <td><input type="text" class="form-control form-control-sm" id="Participants" name="Participants" value="50" /></td>                            
                    <td style="width: 50px;"></td>
                    <td>Spectators: &nbsp;&nbsp;</td>
                    <td><input type="text" class="form-control form-control-sm" id="Spectators" name="Spectators" value="100" /></td>  
                </tr>
            </table>
        </div>
    </div>

    <p>
        Provide your contact information:
    </p>
    <div class="form-group row">
        <div class="col-sm-10">
            <table>
                <tr>
                    <td>Prefix</td>
                    <td>First Name</td>
                    <td>Middle Name</td>
                    <td>Last Name</td>
                    <td>Suffix</td>
                </tr>
                <tr>
                    <td>
                        <select id="Prefix" name="Prefix" class="form-control form-control-sm">
                            <option>Mr.</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="FirstName" name="FirstName" value="Joe" />
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="MiddleName" name="MiddleName" value="B." />
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="LastName" name="LastName" value="Miller" />
                    </td>
                    <td>
                        <select id="Suffix" name="Suffix" class="form-control form-control-sm">
                            <option>Jr.</option>
                        </select>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        Address 1
                    </td>
                    <td>
                        Address 2
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="Address1" name="Address1" value="800 South St." />
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="Address2" name="Address2" value="" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        City
                    </td>
                    <td>
                        State
                    </td>
                    <td>
                        Zip
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="City" name="City" value="Paradise" />
                    </td>
                    <td>
                        <select id="State" name="State" class="form-control form-control-sm">
                            <option>FL</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="Zip" name="Zip" value="32605" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Work Phone
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="WorkPhonePrimary" value="option1">
                            <label class="form-check-label" for="WorkPhonePrimary">Primary</label>
                        </div>
                    </td>
                    <td>
                        Home Phone
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="HomePhonePrimary" value="option1" checked="checked">
                            <label class="form-check-label" for="HomePhonePrimary">Primary</label>
                        </div>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="WorkPhone" name="WorkPhone" value="386-212-6046" />
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="HomePhone" name="HomePhone" value="386-212-6046" />
                    </td>
                    <td>
                                
                    </td>
                </tr>
                <tr>
                    <td>
                        Email
                    </td>
                    <td>
                                
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" class="form-control form-control-sm" id="Email" name="Email" value="joebmiller34@gmail.com" />
                    </td>
                    <td>
                                
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <p>
        Do you have additional contact information for your group members?
        <div class="form-check">
            <input class="form-check-input" type="radio" name="GroupMembers" id="GroupMembersYes" value="option1" checked="checked">
            <label class="form-check-label" for="GroupMembersYes">
                Yes
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="GroupMembers" id="GroupMembersNo" value="option1">
            <label class="form-check-label" for="GroupMembersNo">
                No
            </label>
        </div>
    </p>
    <div class="form-group row">
        <div class="col-sm-10">
            <div class="float-right">
                <a href="#">Remove Contact</a>
            </div>
            <table>
                <tr>
                    <td>Name</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="ContactName" name="ContactName" value="Mike Delray" />
                    </td>
                    <td>
                                
                    </td>
                    <td>
                                
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        Address 1
                    </td>
                    <td>
                        Address 2
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="ContactAddress1" name="ContactAddress1" value="200 Third St." />
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="ContactAddress2" name="ContactAddress2" value="" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        City
                    </td>
                    <td>
                        State
                    </td>
                    <td>
                        Zip
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="ContactCity" name="ContactCity" value="Paradise" />
                    </td>
                    <td>
                        <select id="ContactState" name="ContactState" class="form-control form-control-sm">
                            <option>FL</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="ContactZip" name="ContactZip" value="32605" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Primary Phone
                    </td>
                    <td>
                        Email
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="PrimaryPhone" name="PrimaryPhone" value="386-214-9017" />
                    </td>
                    <td colspan="2">
                        <input type="text" class="form-control form-control-sm" id="Email" name="Email" value="mdelray27@gmail.com" />
                    </td>
                </tr>
            </table>

            <a href="#">Add Contact</a>
        </div>
    </div>

    <p>
        Does the event impact any endangered plant species?
        <table class="table">
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Impact" id="ImpactYes" value="option1" checked="checked">
                        <label class="form-check-label" for="ImpactYes">
                            Yes (describe)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Impact" id="ImpactNo" value="option1">
                        <label class="form-check-label" for="ImpactNo">
                            No
                        </label>
                    </div>
                </td>
                <td>
                    <textarea id="ImpactDescription" name="ImpactDescription" class="form-control" rows="2">This activity will involve the south trail, which as endangered species.</textarea>
                </td>
            </tr>
        </table>                
    </p>

    <p>
        Does the event affect wildlife populations?
        <table class="table">
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Impact" id="ImpactYes" value="option1">
                        <label class="form-check-label" for="ImpactYes">
                            Yes (describe)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Impact" id="ImpactNo" value="option1"  checked="checked">
                        <label class="form-check-label" for="ImpactNo">
                            No
                        </label>
                    </div>
                </td>
                <td>
                    <textarea id="ImpactDescription" name="ImpactDescription" class="form-control hiddenblock" rows="2">This activity will involve the south trail, which as endangered species.</textarea>
                </td>
            </tr>
        </table>
    </p>

    <p>
        By submitting, you agree you are accurately representing the nature of your proposed event.  We will review your application shortly.
    </p>

    <div class="float-right">
        <a href="#" class="btn btn-primary">Submit Application</a>
    </div>
    <a href="#" class="btn btn-default">Cancel</a>

</div>