﻿@{
    ViewBag.Title = "Hurt Feelings Report";
}

<div id="app" class="hiddenblock">

    <h3>Hurt Feelings Report</h3>

    <div class="text-right">
        <button type="button" class="btn btn-sm btn-danger" @@click="clearFormValues"><span data-feather="trash-2"></span> Clear Form Values / Start Over</button>
        <button type="button" class="btn btn-sm btn-warning" @@click="resetFormValuesToExampleDefaults"><span data-feather="refresh-ccw"></span> Reset Form Values to Example Defaults</button>
        <br />
        <br />
    </div>

    <div class="progress" style="margin-bottom: 5px; height: 20px;" v-bind:class="[currentStep <= totalSteps ? '' : 'hiddenblock']">
        <div class="progress-bar bg-success" v-bind:style="{ width: stepPercentage + '%' }">Step {{ currentStep }} of {{ totalSteps }} ({{ stepPercentage }}%)</div>
    </div>

    <div v-bind:class="[currentStep <= totalSteps ? 'hiddenblock' : '']">
        <form id="GeneratePdfForm" action="@Url.Action("GeneratePdf")" target="_blank" method="post">
            <button class="btn btn-default btn-sm" type="button" @@click="goToPreviousStep"><span data-feather="rotate-ccw"></span> Return to Form</button>
            <button class="btn btn-primary btn-sm" type="button" onclick="generatePdf();"><span data-feather="printer"></span> Print Report</button>
            <input id="FormValues" name="formValues" type="hidden" value="" />
        </form>
        <br />
    </div>

    <div id="pnlStep1" v-bind:class="[currentStep == 1 ? '' : 'hiddenblock']">
        <div class="card">
            <h5 class="card-header blue-header">Your Information</h5>
            <div class="card-body">

                <label>Are you the subject/individual who experienced hurt feelings?</label><br />
                <input type="radio" id="rdoIsSubjectYes" value="1" v-model="isSamePersonAsSubject" v-on:change="syncSubjectName()">
                <label for="rdoIsSubjectYes">Yes</label>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <input type="radio" id="rdoIsSubjectNo" value="0" v-model="isSamePersonAsSubject" v-on:change="syncSubjectName()">
                <label for="rdoIsSubjectNo">No</label>

                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="userFirstName">First Name</label>
                            <input type="text" class="form-control" id="userFirstName" placeholder="First Name" v-model="userFirstName" maxlength="50" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a first name.
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="userMiddleInitial">Middle Initial</label>
                            <input type="text" class="form-control" id="userMiddleInitial" placeholder="Middle Initial" v-model="userMiddleInitial" maxlength="50">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="userLastName">Last Name</label>
                            <input type="text" class="form-control" id="userLastName" placeholder="Last Name" v-model="userLastName" maxlength="50" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a last name.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="userTitle">Title</label>
                            <input type="text" class="form-control" id="userTitle" placeholder="Title" v-model="userTitle" maxlength="50" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a title.
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Next <span data-feather="chevrons-right"></span></button>
                </form>

            </div>
        </div>
        <br />
    </div>

    <div id="pnlStep2" v-bind:class="[currentStep == 2 ? '' : 'hiddenblock']">
        <div class="card">
            <h5 class="card-header blue-header">Hurt Feeling Subject/Individual Details</h5>
            <div class="card-body">

                <form class="needs-validation" novalidate>
                    <div class="form-text text-muted">
                        Complete the following information to identify the individual who experienced hurt feelings.
                    </div>
                    <div class="form-row" v-if="isSamePersonAsSubject != true">
                        <div class="col-md-4 mb-3">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="First Name" v-model="firstName" maxlength="50" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a first name.
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="middleInitial">Middle Initial</label>
                            <input type="text" class="form-control" id="middleInitial" placeholder="Middle Initial" maxlength="1" v-model="middleInitial">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Last Name" v-model="lastName" maxlength="50" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a last name.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="rank">Rank</label>
                            <input type="text" class="form-control" id="rank" placeholder="Rank/Grade" v-model="rank" maxlength="50" required>
                            <div class="invalid-feedback">
                                Please provide a rank/grade.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="ssn">Social Security Number</label>
                            <input type="text" class="form-control" id="ssn" placeholder="xxx-xx-xxxx" v-model="ssn" v-mask="['###-##-####']" required>
                            <div class="invalid-feedback">
                                Please provide a social security number.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="date">Report Date</label>
                            <input type="text" class="form-control" id="date" placeholder="mm/dd/yyyy" v-model="date" v-mask="['##/##/####', '#/#/####']" required>
                            <div class="invalid-feedback">
                                Please provide a date.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="organization">Organization</label>
                            <input type="text" class="form-control" id="organization" placeholder="Organization" v-model="organization" maxlength="50" v-on:change="syncOrganization()" required>
                            <div class="invalid-feedback">
                                Please provide an organization.
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default" type="button" @@click="goToPreviousStep"><span data-feather="chevrons-left"></span> Previous</button>
                    <button class="btn btn-primary" type="submit">Next <span data-feather="chevrons-right"></span></button>
                </form>

            </div>
        </div>
        <br />
    </div>    

    <div id="pnlStep3" v-bind:class="[currentStep == 3 ? '' : 'hiddenblock']">
        <div class="card">
            <h5 class="card-header blue-header">Incident Information</h5>
            <div class="card-body">

                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label for="incidentDate">Incident Date</label>
                            <input type="text" class="form-control" id="incidentDate" placeholder="mm/dd/yyyy" v-model="incidentDate" v-mask="['##/##/####', '#/#/####']" required>
                            <div class="invalid-feedback">
                                Please provide a date.
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="incidentTime">Time</label>
                            <input type="text" class="form-control" id="incidentTime" placeholder="hh:mm" v-model="incidentTime" v-mask="['##:##', '#:##']" required>
                            <div class="invalid-feedback">
                                Please provide a time.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="incidentLocation">Location of Incident</label>
                            <input type="text" class="form-control" id="incidentLocation" placeholder="Location" v-model="incidentLocation" maxlength="50" required>
                            <div class="invalid-feedback">
                                Please provide a location.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="incidentOfficer">NCO/Officer</label>
                            <input type="text" class="form-control" id="incidentOfficer" placeholder="NCO/Officer" v-model="incidentOfficer" maxlength="50" required>
                            <div class="invalid-feedback">
                                Please provide an NCO/officer.
                            </div>
                        </div>
                    </div>
                    <div class="form-text text-muted">
                        Complete the following information to identify the individual who caused the incident.
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="incidentAbusiveFirstName">First Name</label>
                            <input type="text" class="form-control" id="incidentAbusiveFirstName" placeholder="First Name" v-model="incidentAbusiveFirstName" maxlength="50" required>
                            <div class="invalid-feedback">
                                Please provide a first name.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="incidentAbusiveLastName">Last Name</label>
                            <input type="text" class="form-control" id="incidentAbusiveLastName" placeholder="Last Name" v-model="incidentAbusiveLastName" maxlength="50" required>
                            <div class="invalid-feedback">
                                Please provide a last name.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="incidentAbusiveRank">Rank/Grade</label>
                            <input type="text" class="form-control" id="incidentAbusiveRank" placeholder="Last Name" v-model="incidentAbusiveRank" maxlength="50" required>
                            <div class="invalid-feedback">
                                Please provide a rank/grade.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="incidentAbusiveOrganization">Organization</label>
                            <input type="text" class="form-control" id="incidentAbusiveOrganization" placeholder="Organization" v-model="incidentAbusiveOrganization" v-bind:disabled="isSameOrganization == true" maxlength="50" required>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="sameOrganization" value="1" v-model="isSameOrganization" v-on:change="syncOrganization()">
                                <label class="form-check-label" for="sameOrganization">
                                    Same Organization
                                </label>
                            </div>
                            <div class="invalid-feedback">
                                Please provide an organization.
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default" type="button" @@click="goToPreviousStep"><span data-feather="chevrons-left"></span> Previous</button>
                    <button class="btn btn-primary" type="submit">Next <span data-feather="chevrons-right"></span></button>
                </form>

            </div>
        </div>
        <br />
    </div>

    <div id="pnlStep4" v-bind:class="[currentStep == 4 ? '' : 'hiddenblock']">
        <div class="card">
            <h5 class="card-header blue-header">Incident Injury Details</h5>
            <div class="card-body">

                <form class="needs-validation" novalidate>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-form-label col-sm-10">Which ear were the words of hurtfulness spoken into?</div>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="injuryEarLeft" value="Left" v-model="injuryEar">
                                    <label class="form-check-label" for="injuryEarLeft">
                                        Left
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="injuryEarRight" value="Right" v-model="injuryEar">
                                    <label class="form-check-label" for="injuryEarRight">
                                        Right
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="injuryEarBoth" value="Both" v-model="injuryEar">
                                    <label class="form-check-label" for="injuryEarBoth">
                                        Both
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-form-label col-sm-10">Is there permanent feeling damage?</div>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="injuryPermanentYes" value="Yes" v-model="injuryPermanent">
                                    <label class="form-check-label" for="injuryPermanentYes">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="injuryPermanentNo" value="No" v-model="injuryPermanent">
                                    <label class="form-check-label" for="injuryPermanentNo">
                                        No
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="injuryPermanentMaybe" value="Maybe" v-model="injuryPermanent">
                                    <label class="form-check-label" for="injuryPermanentMaybe">
                                        Maybe
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-form-label col-sm-10">Did you require a “tissue” for tears?</div>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="injuryTissueYes" value="Yes" v-model="injuryTissue">
                                    <label class="form-check-label" for="injuryTissueYes">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="injuryTissueNo" value="No" v-model="injuryTissue">
                                    <label class="form-check-label" for="injuryTissueNo">
                                        No
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="injuryTissueMultiple" value="Multiple" v-model="injuryTissue">
                                    <label class="form-check-label" for="injuryTissueMultiple">
                                        Multiple
                                    </label>
                                    <div v-if="injuryTissue == 'Multiple'">
                                        <input type="text" class="form-control" id="injuryTissueCount" placeholder="# of Tissues" v-model="injuryTissueCount" required>
                                        <div class="invalid-feedback">
                                            Please provide a count.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-form-label col-sm-10">Has this resulted in a traumatic brain injury?</div>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="injuryBrainYes" value="Yes" v-model="injuryBrain">
                                    <label class="form-check-label" for="injuryBrainYes">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="injuryBrainNo" value="No" v-model="injuryBrain">
                                    <label class="form-check-label" for="injuryBrainNo">
                                        No
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="injuryBrainMaybe" value="Maybe" v-model="injuryBrain">
                                    <label class="form-check-label" for="injuryBrainMaybe">
                                        Maybe
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <button class="btn btn-default" type="button" @@click="goToPreviousStep"><span data-feather="chevrons-left"></span> Previous</button>
                    <button class="btn btn-primary" type="submit">Next <span data-feather="chevrons-right"></span></button>
                </form>

            </div>
        </div>
        <br />
    </div>

    <div id="pnlStep5" v-bind:class="[currentStep == 5 ? '' : 'hiddenblock']">
        <div class="card">
            <h5 class="card-header blue-header">Report Filing Reasons</h5>
            <div class="card-body">

                <form class="needs-validation" novalidate>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filingReason1" value="1" v-model="filingReasons">
                        <label class="form-check-label" for="filingReason1">
                            I am thin skinned
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filingReason2" value="2" v-model="filingReasons">
                        <label class="form-check-label" for="filingReason2">
                            I am a wimp
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filingReason3" value="3" v-model="filingReasons">
                        <label class="form-check-label" for="filingReason3">
                            I have woman/man‐like hormones
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filingReason4" value="4" v-model="filingReasons">
                        <label class="form-check-label" for="filingReason4">
                            I am a crybaby
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filingReason5" value="5" v-model="filingReasons">
                        <label class="form-check-label" for="filingReason5">
                            I want my mommy
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filingReason6" value="6" v-model="filingReasons">
                        <label class="form-check-label" for="filingReason6">
                            The Army needs to fix my problems
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filingReason7" value="7" v-model="filingReasons">
                        <label class="form-check-label" for="filingReason7">
                            My feelings are easily hurt
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filingReason8" value="8" v-model="filingReasons">
                        <label class="form-check-label" for="filingReason8">
                            I didn't sign up for this
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filingReason9" value="9" v-model="filingReasons">
                        <label class="form-check-label" for="filingReason9">
                            I was told that I am not a hero
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filingReason10" value="10" v-model="filingReasons">
                        <label class="form-check-label" for="filingReason10">
                            The weather is too cold
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filingReason11" value="11" v-model="filingReasons">
                        <label class="form-check-label" for="filingReason11">
                            Two beers is not enough
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filingReason12" value="12" v-model="filingReasons">
                        <label class="form-check-label" for="filingReason12">
                            My hands should be in my pockets
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filingReason13" value="13" v-model="filingReasons">
                        <label class="form-check-label" for="filingReason13">
                            I was not offered a post brief
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filingReason14" value="14" v-model="filingReasons">
                        <label class="form-check-label" for="filingReason14">
                            Someone requested a post brief
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filingReason15" value="15" v-model="filingReasons">
                        <label class="form-check-label" for="filingReason15">
                            All of the above and more
                        </label>
                    </div>
                    <br />
                    <button class="btn btn-default" type="button" @@click="goToPreviousStep"><span data-feather="chevrons-left"></span> Previous</button>
                    <button class="btn btn-primary" type="submit">Next <span data-feather="chevrons-right"></span></button>
                </form>

            </div>
        </div>
        <br />
    </div>

    <div id="pnlStep6" v-bind:class="[currentStep == 6 ? '' : 'hiddenblock']">
        <div class="card">
            <h5 class="card-header blue-header">Narrative</h5>
            <div class="card-body">

                <form class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="narrative">Please provide a narrative of the incident.</label>
                        <textarea class="form-control" id="narrative" rows="6" placeholder="Narrative" v-model="narrative" required></textarea>
                        <div class="invalid-feedback">
                            Please provide a narrative.
                        </div>
                    </div>

                    <button class="btn btn-default" type="button" @@click="goToPreviousStep"><span data-feather="chevrons-left"></span> Previous</button>
                    <button class="btn btn-info" type="submit">Finish <span data-feather="check-square"></span></button>
                </form>

            </div>
        </div>
        <br />
    </div>

    <div class="card">
        <h5 class="card-header">Report Preview</h5>
        <div class="card-body">

            <div id="ReportPanel" class="center full-width">
                <div id="ReportTemplate">
                    <div class="report-outline">
                        <div class="center-with-padding">
                            <div class="uppercase-bold">HURT FEELINGS REPORT</div>
                            <div class="smaller">For use of this form, see FM 22-102; the proponent agency is TRADOC</div>
                        </div>
                        <div class="uppercase-bold smaller center thick-border-top thick-border-bottom">
                            Data Required by the Privacy Act of 1974
                        </div>
                        <div class="thick-border-bottom">
                            <table class="termtable full-width smaller">
                                <tr>
                                    <td><strong>AUTHORITY:</strong></td>
                                    <td>5 USC 301, Departmental Regulations; 10 USC 3013, Secretary of the Army and E.O. 9397 (SSN)</td>
                                </tr>
                                <tr>
                                    <td style="width: 125px;"><strong>PRINCIPAL PURPOSE:</strong></td>
                                    <td>
                                        To assist whiners in documenting hurt feelings, and to provide leaders with a list of soldiers who require additional counseling,
                                        NCO leadership, and extra duty.
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>ROUTINE USES:</strong></td>
                                    <td>For subordinate leader development IAW FM 22-102. Leaders &amp; whiners should use this form as necessary.</td>
                                </tr>
                                <tr>
                                    <td><strong>DISCLOSURE:</strong></td>
                                    <td>Disclosure is voluntary, but repeated disclosure may result in a DA Form 779-1A, Report of Wall To Wall Counseling</td>
                                </tr>
                            </table>
                        </div>
                        <div class="uppercase-bold thin-border-bottom center">
                            Part I – Administrative Data
                        </div>
                        <div class="thick-border-bottom">
                            <table class="fieldtable">
                                <tr>
                                    <td style="width: 250px;">
                                        A. WHINER’S NAME <em>(Last, First, MI)</em>
                                        <div class="field-value">{{ fullName }}</div>
                                    </td>
                                    <td class="thin-border-left" style="width: 150px;">
                                        B. RANK/GRADE
                                        <div class="field-value">{{ rank }}</div>
                                    </td>
                                    <td class="thin-border-left" style="width: 200px;">
                                        C. SOCIAL SECURITY NUMBER
                                        <div class="field-value">{{ ssn }}</div>
                                    </td>
                                    <td class="thin-border-left" style="width: 200px;">
                                        D. DATE OF REPORT
                                        <div class="field-value">{{ date }}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        E. ORGANIZATION
                                        <div class="field-value">{{ organization }}</div>
                                    </td>
                                    <td colspan="2" class="thin-border-left">
                                        F. NAME &amp; TITLE OF THE PERSON FILLING OUT THIS FORM
                                        <div class="field-value">{{ userFullName }}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="uppercase-bold thin-border-bottom center">
                            Part II – Incident Report
                        </div>
                        <div class="thick-border-bottom">
                            <table class="fieldtable">
                                <tr>
                                    <td style="width: 150px;">
                                        A. DATE FEELINGS WERE HURT
                                        <span class="field-value">{{ incidentDate }}</span>
                                    </td>
                                    <td class="thin-border-left" style="width: 150px;">
                                        B. TIME OF HURTFULNESS
                                        <div class="field-value">{{ incidentTime }}</div>
                                    </td>
                                    <td class="thin-border-left" style="width: 225px;">
                                        C. LOCATION OF HURTFUL INCIDENT
                                        <div class="field-value">{{ incidentLocation }}</div>
                                    </td>
                                    <td class="thin-border-left" style="width: 275px;">
                                        D. NCO OR OFFICER SYMPATHETIC TO WHINER
                                        <div class="field-value">{{ incidentOfficer }}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        E. NAME OF REAL MAN/WOMAN WHO HURT YOUR SENSITIVE FEELINGS
                                        <span class="field-value">{{ incidentAbusiveFullName }}</span>
                                    </td>
                                    <td class="thin-border-left">
                                        F. RANK/GRADE
                                        <div class="field-value">{{ incidentAbusiveRank }}</div>
                                    </td>
                                    <td class="thin-border-left">
                                        G. ORGANIZATION <em>(if different from 1e above)</em>
                                        <div class="field-value" v-if="incidentAbusiveOrganization != organization">{{ incidentAbusiveOrganization }}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="uppercase-bold thin-border-bottom center">
                            E. Injury <span style="text-transform: none; font-weight: normal;"><em>(Mark all that apply)</em></span>
                        </div>
                        <div class="thick-border-bottom">
                            <table class="fieldtable">
                                <tr>
                                    <td style="width: 400px;">
                                        1. WHICH EAR WERE THE WORDS OF HURTFULNESS SPOKEN INTO?
                                        <div class="center">
                                            <span v-if="injuryEar == 'Left'">&#x2611;</span><span v-else>&#x2610;</span> <strong>LEFT</strong> <span>&nbsp;&nbsp;&nbsp;</span>
                                            <span v-if="injuryEar == 'Right'">&#x2611;</span><span v-else>&#x2610;</span> <strong>RIGHT</strong> <span>&nbsp;&nbsp;&nbsp;</span>
                                            <span v-if="injuryEar == 'Both'">&#x2611;</span><span v-else>&#x2610;</span> <strong>BOTH</strong>
                                        </div>
                                    </td>
                                    <td class="thin-border-left" style="width: 400px;">
                                        2. IS THERE PERMANENT FEELING DAMAGE?
                                        <div class="center">
                                            <span v-if="injuryPermanent == 'Yes'">&#x2611;</span><span v-else>&#x2610;</span> <strong>YES</strong> <span>&nbsp;&nbsp;&nbsp;</span>
                                            <span v-if="injuryPermanent == 'No'">&#x2611;</span><span v-else>&#x2610;</span> <strong>NO</strong> <span>&nbsp;&nbsp;&nbsp;</span>
                                            <span v-if="injuryPermanent == 'Maybe'">&#x2611;</span><span v-else>&#x2610;</span> <strong>MAYBE</strong>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3. DID YOU REQUIRE A “TISSUE” FOR TEARS?
                                        <div class="center">
                                            <span v-if="injuryTissue == 'Yes'">&#x2611;</span><span v-else>&#x2610;</span> <strong>YES</strong> <span>&nbsp;&nbsp;&nbsp;</span>
                                            <span v-if="injuryTissue == 'No'">&#x2611;</span><span v-else>&#x2610;</span> <strong>NO</strong> <span>&nbsp;&nbsp;&nbsp;</span>
                                            <span v-if="injuryTissue == 'Multiple'">&#x2611;</span><span v-else>&#x2610;</span>
                                            <strong>
                                                MULTIPLE
                                                <u v-if="injuryTissue == 'Multiple'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ injuryTissueCount }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                                                <u v-else>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                                            </strong>
                                        </div>
                                    </td>
                                    <td class="thin-border-left">
                                        4. HAS THIS RESULTED IN A TRAUMATIC BRAIN INJURY?
                                        <div class="center">
                                            <span v-if="injuryBrain == 'Yes'">&#x2611;</span><span v-else>&#x2610;</span> <strong>YES</strong> <span>&nbsp;&nbsp;&nbsp;</span>
                                            <span v-if="injuryBrain == 'No'">&#x2611;</span><span v-else>&#x2610;</span> <strong>NO</strong> <span>&nbsp;&nbsp;&nbsp;</span>
                                            <span v-if="injuryBrain == 'Maybe'">&#x2611;</span><span v-else>&#x2610;</span> <strong>MAYBE</strong>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="uppercase-bold thin-border-bottom center">
                            F. Reason for filing this report <span style="text-transform: none; font-weight: normal;"><em>(Mark all that apply)</em></span>
                        </div>
                        <div class="thin-border-bottom">
                            <table class="fieldtable fieldtable-select">
                                <tr>
                                    <td class="thin-border-top center" style="width: 40px;">
                                        <div v-if="filingReasons.indexOf('1') != -1">&#x2718;</div>
                                    </td>
                                    <td class="thick-border-left" style="width: 225px;">I am thin skinned</td>
                                    <td class="thin-border-top thick-border-left center" style="width: 40px;">
                                        <div v-if="filingReasons.indexOf('6') != -1">&#x2718;</div>
                                    </td>
                                    <td class="thick-border-left" style="width: 225px;">The Army needs to fix my problems</td>
                                    <td class="thin-border-top thick-border-left center" style="width: 40px;">
                                        <div v-if="filingReasons.indexOf('11') != -1">&#x2718;</div>
                                    </td>
                                    <td class="thick-border-left" style="width: 225px;">Two beers is not enough</td>
                                </tr>
                                <tr>
                                    <td class="thin-border-top center">
                                        <div v-if="filingReasons.indexOf('2') != -1">&#x2718;</div>
                                    </td>
                                    <td class="thick-border-left">I am a wimp</td>
                                    <td class="thin-border-top thick-border-left center">
                                        <div v-if="filingReasons.indexOf('7') != -1">&#x2718;</div>
                                    </td>
                                    <td class="thick-border-left">My feelings are easily hurt</td>
                                    <td class="thin-border-top thick-border-left center">
                                        <div v-if="filingReasons.indexOf('12') != -1">&#x2718;</div>
                                    </td>
                                    <td class="thick-border-left">My hands should be in my pockets</td>
                                </tr>
                                <tr>
                                    <td class="thin-border-top center">
                                        <div v-if="filingReasons.indexOf('3') != -1">&#x2718;</div>
                                    </td>
                                    <td class="thick-border-left">I have woman/man‐like hormones</td>
                                    <td class="thin-border-top thick-border-left center">
                                        <div v-if="filingReasons.indexOf('8') != -1">&#x2718;</div>
                                    </td>
                                    <td class="thick-border-left">I didn't sign up for this</td>
                                    <td class="thin-border-top thick-border-left center">
                                        <div v-if="filingReasons.indexOf('13') != -1">&#x2718;</div>
                                    </td>
                                    <td class="thick-border-left">I was not offered a post brief</td>
                                </tr>
                                <tr>
                                    <td class="thin-border-top center">
                                        <div v-if="filingReasons.indexOf('4') != -1">&#x2718;</div>
                                    </td>
                                    <td class="thick-border-left">I am a crybaby</td>
                                    <td class="thin-border-top thick-border-left center">
                                        <div v-if="filingReasons.indexOf('9') != -1">&#x2718;</div>
                                    </td>
                                    <td class="thick-border-left">I was told that I am not a hero</td>
                                    <td class="thin-border-top thick-border-left center">
                                        <div v-if="filingReasons.indexOf('14') != -1">&#x2718;</div>
                                    </td>
                                    <td class="thick-border-left">Someone requested a post brief</td>
                                </tr>
                                <tr>
                                    <td class="thin-border-top center">
                                        <div v-if="filingReasons.indexOf('5') != -1">&#x2718;</div>
                                    </td>
                                    <td class="thick-border-left">I want my mommy</td>
                                    <td class="thin-border-top thick-border-left center">
                                        <div v-if="filingReasons.indexOf('10') != -1">&#x2718;</div>
                                    </td>
                                    <td class="thick-border-left">The weather is too cold</td>
                                    <td class="thin-border-top thick-border-left center">
                                        <div v-if="filingReasons.indexOf('15') != -1">&#x2718;</div>
                                    </td>
                                    <td class="thick-border-left">All of the above and more</td>
                                </tr>
                            </table>
                        </div>
                        <div class="uppercase-bold thin-border-bottom center">
                            &nbsp;
                        </div>
                        <div class="uppercase-bold thin-border-bottom center">
                            G. Narrative <span style="text-transform: none; font-weight: normal;"><em>(Tell us in your own sissy words how your feelings were hurt.)</em></span>
                        </div>
                        <div class="thick-border-bottom" style="height: 275px;">
                            <p style="white-space: pre-line; padding: 10px;">{{ narrative }}</p>
                        </div>
                        <div class="uppercase-bold thin-border-bottom center smaller">
                            Part III – Authentication
                        </div>
                        <div>
                            <table class="fieldtable fieldtable-small">
                                <tr>
                                    <td style="width: 200px;">
                                        a. PRINTED NAME OF REAL MAN/WOMAN
                                        <div class="field-value">{{ incidentAbusiveFullName }}</div>
                                    </td>
                                    <td class="thin-border-left" style="width: 200px;">
                                        b. SIGNATURE
                                    </td>
                                    <td class="thin-border-left" style="width: 200px;">
                                        c. PRINTED NAME OF WHINER
                                        <div class="field-value">{{ fullName }}</div>
                                    </td>
                                    <td class="thin-border-left" style="width: 200px;">
                                        d. SIGNATURE
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="smaller" style="padding: 0 4px;">
                            We, as the Army, take hurt feelings seriously.  If you don't have someone who can give you a hug and make things all better, please let us know and we
                            will promptly dispatch a "hugger" to you ASAP.  In the event we are unable to find a "hugger" we will notify the fire department and request that they
                            send fire personnel to your location.  If you are in need of supplemental support, upon written request, we will make every reasonable effort to provide
                            you with a "blankey", a "binky" and/or a bottle if you so desire.
                        </div>
                    </div>
                    <div class="smaller">
                        <div>
                            &nbsp;&nbsp;DA FORM IMT WF1, APRIL 2009 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            EDITION OF APRIL 1989 IS OBSELETE
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script>

    // Reference URL: https://stackoverflow.com/questions/2010892/storing-objects-in-html5-localstorage/3146971#3146971
    Storage.prototype.setObject = function (key, value) {
        this.setItem(key, JSON.stringify(value))
    }

    Storage.prototype.getObject = function (key) {
        let value = this.getItem(key)
        return value && JSON.parse(value)
    }

    // https://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
    function getParameterByName(name) {
        var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search)
        return match && decodeURIComponent(match[1].replace(/\+/g, ' '))
    }

    function generatePdf() {
        $('#FormValues').val(JSON.stringify(formValues))
        $('#GeneratePdfForm').submit()
    }

    const bus = new Vue({})

    $(function () {

        var forms = $('.needs-validation')

        var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() !== false) {
                    bus.$emit('go-to-next-step')
                }

                event.preventDefault()
                event.stopPropagation()

                form.classList.add('was-validated')
            }, false)
        })

        if (getParameterByName('print') == '1') {
            $('#pnlContainer').html($('#ReportPanel').html())
            $('#pnlContainer').addClass('print-margins')
            $('footer').hide()
        }
    })

    function getBlankFormValues() {
        return {
            currentStep: 1,
            totalSteps: 6,
            firstName: null,
            middleInitial: null,
            lastName: null,
            rank: null,
            ssn: null,
            date: null,
            organization: null,
            isSamePersonAsSubject: '0',
            userFirstName: null,
            userMiddleInitial: null,
            userLastName: null,
            userTitle: null,
            incidentDate: null,
            incidentTime: null,
            incidentLocation: null,
            incidentOfficer: null,
            incidentAbusiveFirstName: null,
            incidentAbusiveLastName: null,
            incidentAbusiveRank: null,
            incidentAbusiveOrganization: null,
            isSameOrganization: false,
            injuryEar: null,
            injuryPermanent: null,
            injuryTissue: null,
            injuryTissueCount: null,
            injuryBrain: null,
            filingReasons: [],
            narrative: null
        }
    }

    function getDefaultFormValues() {
        return {
            currentStep: 1,
            totalSteps: 6,
            firstName: 'Robert',
            middleInitial: 'B',
            lastName: 'Sadson',
            rank: 'Private First Class',
            ssn: '223104521',
            date: '07102018',
            organization: 'G-4 Logistics',
            isSamePersonAsSubject: '1',
            userFirstName: 'Robert',
            userMiddleInitial: 'B',
            userLastName: 'Sadson',
            userTitle: 'Private',
            incidentDate: '07082018',
            incidentTime: '1900',
            incidentLocation: 'Mess Hall',
            incidentOfficer: 'Stern Bridges',
            incidentAbusiveFirstName: 'Betty',
            incidentAbusiveLastName: 'Snipes',
            incidentAbusiveRank: 'Specialist',
            incidentAbusiveOrganization: 'G-4 Logistics',
            isSameOrganization: true,
            injuryEar: 'Both',
            injuryPermanent: 'Yes',
            injuryTissue: 'Multiple',
            injuryTissueCount: 5,
            injuryBrain: 'Maybe',
            filingReasons: ['1', '5', '9', '10', '14'],
            narrative: 'It was embarrassing when Betty said I shouldn\'t eat my Fruit by the Foot for lunch. ' +
                'Everyone laughed and asked if it was real fruit. I cried when I realized I should have bought Kellogg\'s Fruit Winders, ' +
                'which have real fruit ingredients.  \n\nBetty said to talk to the real Betty Crocker if I have any more fruit challenges.'
        }
    }

    var formValues = {}

    function initialize() {

        if (getParameterByName('print') == '1') {
            formValues = JSON.parse(decodeURIComponent(getParameterByName('formValues')))
        }
        else {
            formValues = localStorage.getObject('FormValues')
            if (formValues == null || formValues.length == 0) {
                formValues = getDefaultFormValues()
            }
        }

        feather.replace()
    }

    initialize()

    var app = new Vue({
        el: '#app',
        data: formValues,
        components: {
            VueAutonumeric,
            VueTheMask
        },
        created() {
            bus.$on('go-to-next-step', () => {
                this.goToNextStep()
            })
        },
        methods: {
            goToNextStep: function () {
                if (this.currentStep < this.totalSteps) {
                    this.currentStep++
                }
                else if (this.currentStep == this.totalSteps) {
                    this.currentStep++
                }
            },
            goToPreviousStep: function () {
                if (this.currentStep > 1) {
                    this.currentStep--
                }
            },
            syncSubjectName: function () {
                if (this.isSamePersonAsSubject == '1') {
                    this.firstName = this.userFirstName
                    this.middleInitial = this.userMiddleInitial
                    this.lastName = this.userLastName
                }
                else if (this.firstName == this.userFirstName
                    && this.middleInitial == this.userMiddleInitial
                    && this.lastName == this.userLastName) {

                    this.firstName = null
                    this.middleInitial = null
                    this.lastName = null
                }
            },
            syncOrganization: function () {
                if (this.isSameOrganization) {
                    this.incidentAbusiveOrganization = this.organization
                }
            },
            clearFormValues: function () {
                if (confirm('Are you sure you want to clear the form values and start over?')) {
                    localStorage.setObject('FormValues', getBlankFormValues())
                    location.reload()
                }
            },
            resetFormValuesToExampleDefaults: function () {
                if (confirm('Are you sure you want to reset the form values to the example defaults?')) {
                    localStorage.setObject('FormValues', null)
                    location.reload()
                }
            }
        },
        computed: {
            stepPercentage: function () {
                return Math.ceil((this.currentStep / this.totalSteps) * 100)
            },
            fullName: function () {
                if (this.firstName != null && this.lastName != null) {
                    return this.firstName + (this.middleInitial != null && this.middleInitial.length > 0 ? ' ' + this.middleInitial : '') + ' ' + this.lastName
                }
                else {
                    return ''
                }
            },
            userFullName: function () {
                if (this.userFirstName != null && this.userLastName != null && this.userTitle != null) {
                    return this.userFirstName + (this.userMiddleInitial != null && this.userMiddleInitial.length > 0 ? ' ' + this.userMiddleInitial : '') + ' ' + this.userLastName + ' / ' + this.userTitle
                }
                else {
                    return ''
                }
            },
            incidentAbusiveFullName: function () {
                if (this.incidentAbusiveFirstName != null && this.incidentAbusiveLastName != null) {
                    return this.incidentAbusiveFirstName + ' ' + this.incidentAbusiveLastName
                }
                else {
                    return ''
                }
            }
        },
        updated: function () {
            this.$nextTick(function () {
                feather.replace()
                localStorage.setObject('FormValues', formValues)
            })
        }
    })

    $('#app').show()

</script>