﻿@{
    ViewBag.Title = "Agreement Applications";
}

<style>
    .Field {
        background: lightblue;
        font-weight: bold;
        padding: 0 3px;
        cursor: pointer;
    }
        .Field:hover {
            background: #8aaeb9;
        }
</style>



<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Agreement Applications</h1>
</div>

<div class="card">
    <div class="card-body">

        <div id="AgreementTemplateList">            
        </div>
        
    </div>
</div>



<div class="modal fade" id="FieldEditModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="FieldId" name="FieldId" value="" />

                    <div id="pnlFieldSingle" class="hiddenblock FieldTypes">
                        <div class="form-group row">
                            <label id="FieldValueLabel" for="FieldValue" class="col-sm-2 col-form-label"></label>

                            <div id="pnlFieldText" class="col-sm-10 hiddenblock FieldSingleType">
                                <input type="text" class="form-control form-control-sm FieldChangeDetection" id="FieldTextValue" name="FieldTextValue" value="" />
                            </div>
                            <div id="pnlFieldSelectionList" class="col-sm-10 hiddenblock FieldSingleType">
                                <select id="FieldSelectionListValue" name="FieldSelectionListValue" class="form-control form-control-sm FieldChangeDetection"></select>
                            </div>
                            <div id="pnlFieldSelectionCheckboxes" class="col-sm-10 hiddenblock FieldSingleType">
                                <table id="tblFieldSelectionCheckboxes">
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="pnlFieldMultiple" class="hiddenblock FieldTypes">
                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="AjaxLoader" class="AjaxLoader hiddenblock">
    <div id="AjaxLoaderInner" class="text-center">
        <img src="@Url.Content("~/Content/Images/Ripple-1s-200px.gif")" />
    </div>
</div>


<script>

    var currentAgreementId;
    var agreementTemplateList = [];
    var fieldList = [];
    var fieldValueList = [];
    var currentFieldId = 0;

    var newItemId = -1;
    var saveCounter = 0;


    function copyObj(obj) {
        return JSON.parse(JSON.stringify(obj));
    }

    function hasObjChanged(obj1, obj2) {
        return JSON.stringify(obj1) != JSON.stringify(obj2);
    }

    function populateListItems(id, listItems) {
        var options = $('#' + id);

        options.html('');
        options.append($("<option />").val('').text('[Select One]'));

        $.each(listItems, function () {
            options.append($("<option />").val(this.ListItemId).text(this.Name));
        });
    }

    function populateListCheckboxes(id, listItems, listItemValue) {

        $('#' + id + ' tbody').html('');

        var column1ListItems = [];
        var column2ListItems = [];

        for (var i = 0; i < listItems.length; i++) {
            if (i % 2 == 0) {
                column1ListItems.push(listItems[i]);
            }
            else {
                column2ListItems.push(listItems[i]);
            }
        }

        var listItemValueList = [];

        if (listItemValue) {
            listItemValueList = listItemValue.split(',');
        }

        for (var i = 0; i < column1ListItems.length; i++) {
            
            var checked = 'checked="checked"';

            if (!arrayContains(listItemValueList, column1ListItems[i].ListItemId)) {
                checked = '';
            }

            var column1Html = '<tr>'
                + '<td>'
                    + '<div class="form-check">'
                        + '<input class="form-check-input FieldChangeDetection" type="checkbox" id="chkListItem_' + column1ListItems[i].ListItemId + '" value="' + column1ListItems[i].ListItemId + '" ' + checked + '>'
                        + '<label class="form-check-label" for="chkListItem_' + column1ListItems[i].ListItemId + '">' + column1ListItems[i].Name + '</label>'
                    + '</div>'
                + '</td>'
                + '<td style="width: 50px;"></td>';

            var column2Html = '';

            if (i < column2ListItems.length) {

                checked = 'checked="checked"';

                if (!arrayContains(listItemValueList, column2ListItems[i].ListItemId)) {
                    checked = '';
                }

                column2Html = '<td>'
                        + '<div class="form-check">'
                            + '<input class="form-check-input FieldChangeDetection" type="checkbox" id="chkListItem_' + column2ListItems[i].ListItemId + '" value="' + column2ListItems[i].ListItemId + '" ' + checked + '>'
                            + '<label class="form-check-label" for="chkListItem_' + column2ListItems[i].ListItemId + '">' + column2ListItems[i].Name + '</label>'
                        + '</div>'
                    + '</td>'
                + '</tr>';
            }
            else {
                column2Html = '<td>'
                    + '</td>'
                + '</tr>';
            }

            $('#' + id + ' tbody').append(column1Html + column2Html);
        };
    }

    function arrayContains(array, value) {
        for (var i = 0; i < array.length; i++) {
            if (array[i] == value) {
                return true;
            }
        }

        return false;
    }

    function initializeFieldEditModal() {

        $('#FieldEditModal').off('show.bs.modal');
        $('#FieldEditModal').on('show.bs.modal', function (event) {
            fieldId = currentFieldId;
            var modal = $(this);
            var field = getFieldById(fieldId);
            var fieldValue = getFieldValueById(fieldId);

            $('.FieldTypes').hide();
            $('.FieldSingleType').hide();

            modal.find('.modal-title').text('Edit Field: ' + field.Name);
            $('#FieldId').val(fieldId);

            if (field.FieldTypeCode == 'Text') {
                $('#pnlFieldSingle').show();
                $('#pnlFieldText').show();
                
                $('#FieldValueLabel').text(field.Name);
                $('#FieldTextValue').val(fieldValue.Value);
            }
            else if (field.FieldTypeCode == 'SelectionList') {

                if (field.FieldRenderingTypeCode == 'RenderAsMultiSelect') {
                    $('#pnlFieldSingle').show();
                    $('#pnlFieldSelectionList').show();

                    $('#FieldValueLabel').text(field.Name);

                    populateListItems('FieldSelectionListValue', field.ListItems);

                    $('#FieldSelectionListValue').val(fieldValue.Value);
                }
                else if (field.FieldRenderingTypeCode == 'RenderAsCheckboxes') {
                    $('#pnlFieldSingle').show();
                    $('#pnlFieldSelectionCheckboxes').show();

                    $('#FieldValueLabel').text(field.Name);

                    populateListCheckboxes('tblFieldSelectionCheckboxes', field.ListItems, fieldValue.Value);               
                }
            }

            initializeChangeDetection();
        });
    }

    initializeFieldEditModal();


    // Source URL: https://stackoverflow.com/questions/4992383/use-jquerys-find-on-json-object#4992429
    function getObjects(obj, key, val) {
        var objects = [];
        for (var i in obj) {
            if (!obj.hasOwnProperty(i)) continue;
            if (typeof obj[i] == 'object') {
                objects = objects.concat(getObjects(obj[i], key, val));
            } else if (i == key && obj[key] == val) {
                objects.push(obj);
            }
        }
        return objects;
    }

    function getFieldById(fieldId) {

        var result = getObjects(fieldList, 'FieldId', fieldId);

        if (result && result.length > 0) {
            return result[0];
        }
        else {
            return null;
        }
    }

    function getFieldValueById(fieldId) {

        var result = getObjects(fieldValueList, 'FieldId', fieldId);

        if (result && result.length > 0) {
            return result[0];
        }
        else {
            var obj = new Object();
            obj.AgreementFieldValueId = newItemId--;
            obj.FieldId = fieldId;
            obj.Value = '';
            obj.IsRemoved = false;
            obj.IsUpdated = true;

            fieldValueList.push(obj);

            return obj;
        }
    }

    function getFieldByName(fieldName) {

        var result = getObjects(fieldList, 'Name', fieldName);

        if (result && result.length > 0) {
            return result[0];
        }
        else {
            return null;
        }
    }

    function initializeTemplateFieldPlaceholders() {

        var templateContent = $('#AgreementTemplateList').html().replace(/\[/g, '<span class="Field" data-id="FieldId">').replace(/\]/g, '</span>')
        $('#AgreementTemplateList').html(templateContent);

        $('#AgreementTemplateList [data-id="FieldId"]').each(function () {
            var fieldName = $(this).text().trim();
            var field = getFieldByName(fieldName);
            var fieldValue = getFieldValueById(field.FieldId);

            $(this).attr('data-id', field.FieldId);
            $(this).attr('data-fieldtypecode', field.FieldTypeCode);
        });

        populateFieldValueList();

        $('.Field').off('click');
        $('.Field').on('click', function (event) {
            event.preventDefault();

            var link = $(event.currentTarget);
            var fieldId = link.data('id');
            currentFieldId = fieldId;

            $('#FieldEditModal').modal();
        });
    }   

    function getAgreementTemplateList(agreementId) {
        
        $('#AjaxLoader').show();

        $.ajax({
            url: 'GetAgreementTemplateListAjax',
            type: 'POST',
            data: {
                agreementId: agreementId
            },
            success: function (response) {

                currentAgreementId = response.agreementId;
                agreementTemplateList = response.agreementTemplates;
                fieldList = response.fields;
                fieldValueList = response.fieldValues;

                populateAgreementTemplateList();

                $('#AjaxLoader').hide();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    }

    function populateAgreementTemplateList() {

        $('#AgreementTemplateList').html('');

        $.each(agreementTemplateList, function () {

            $('#AgreementTemplateList').append('<strong>' + this.Name + '</strong><div data-agreementtemplateid="' + this.AgreementTemplateId + '">' + this.Content + '</div><br /><br />');
        });

        initializeTemplateFieldPlaceholders();
        initializeChangeDetection();
    }

    function initializeChangeDetection() {
        
        $('.FieldChangeDetection').off('change');
        $('.FieldChangeDetection').on('change', function (event) {
            saveAndReloadFieldValues();
        });
    }

    function saveAndReloadFieldValues() {
        updateFieldValuesFromModal();
        saveFieldValueList();
    }

    function updateFieldValuesFromModal() {

        if ($('#FieldEditModal:visible').length) {
            var fieldId = $('#FieldId').val();
            var field = getFieldById(fieldId);
            var fieldValue = getFieldValueById(fieldId);

            tinymce.triggerSave();

            var objCopy = copyObj(fieldValue);

            if (field.FieldTypeCode == 'Text') {
                fieldValue.Value = $('#FieldTextValue').val();
            }
            else if (field.FieldTypeCode == 'SelectionList') {                

                if (field.FieldRenderingTypeCode == 'RenderAsMultiSelect') {
                    fieldValue.Value = $('#FieldSelectionListValue').val();
                }
                else if (field.FieldRenderingTypeCode == 'RenderAsCheckboxes') {
                    var fieldValueList = [];
                    $('#tblFieldSelectionCheckboxes tbody .FieldChangeDetection').each(function () {
                        if ($(this).is(":checked")) {
                            fieldValueList.push($(this).val());
                        }
                    });

                    fieldValue.Value = fieldValueList.join();
                }

            }

            if (hasObjChanged(fieldValue, objCopy)) {
                fieldValue.IsUpdated = true;
            }
        }
    }

    function saveFieldValueList() {

        saveCounter++;
        
        $.ajax({
            url: 'SaveFieldValueListAjax',
            type: 'POST',
            data: {
                agreementId: currentAgreementId,
                fieldValueList: fieldValueList
            },
            success: function (response) {

                saveCounter--;

                fieldValueList = response.fieldValues;

                populateFieldValueList();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    }

    function populateFieldValueList() {

        $('#AgreementTemplateList .Field').each(function () {
            var fieldId = $(this).attr('data-id');
            var field = getFieldById(fieldId);
            var fieldValue = getFieldValueById(fieldId);

            if (field.FieldTypeCode == 'Text') {
                $(this).html(fieldValue.Value);
            }
            else if (field.FieldTypeCode == 'SelectionList') {
                var listItems = field.ListItems;                
                var result = getObjects(listItems, 'ListItemId', fieldValue.Value);

                if (result && result.length > 0) {
                    $(this).html(result[0].Name);
                }
            }
            
        });
    }

    currentAgreementId = '@ViewBag.AgreementId';
    getAgreementTemplateList(currentAgreementId);

</script>