﻿@{
    ViewBag.Title = "Agreement Application Types";
}

<div id="app" class="hiddenblock">
    <div class="float-right">
        <div v-if="isOnline == true">
            <span style="color: green; font-weight: bold;">
                <i class="fa fa-plug fa-lg"></i>
                Connection is Online
            </span>
        </div>
        <div v-else>
            <span style="color: darkred; font-weight: bold;">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-plug fa-stack-1x" style="color: black;"></i>
                    <i class="fa fa-ban fa-stack-2x fa-flip-horizontal"></i>
                </span>
                Connection is Offline
            </span>
        </div>
    </div>
    
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Agreement Application Types</h1>
    </div>

    <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-primary" v-on:click.prevent="createNewAppType">Create New Application Type</button>
            <br /><br />
            <span>Note: Use drag-and-drop to reorder the application types.</span>

            <app-type-list-table v-bind:app-type-list="appData.AppTypeList"
                                 v-bind:current-type-id="currentTypeId">                
            </app-type-list-table>

            <div id="pnlApplicationTypeDetails" class="card" v-if="currentType != null && currentType.AppTypeListItems != null">
                <h5 class="card-header">
                    Application Type Details
                </h5>
                <div class="card-body">

                    <div>
                        <h6 class="card-title">Application Type Fields</h6>

                        <div class="card">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs" id="tabType">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="type-tab" data-toggle="tab" href="#agreement-type">{{ currentTypeName }}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="edit-tab" data-toggle="tab" href="#agreement-type-edit">Edit Type</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">

                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="agreement-type">

                                        <br />
                                        <form>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Agreement Application Type Name</label>
                                                <div class="col-md-9">
                                                    {{ currentTypeName }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Agreement Application Field List</label>
                                                <div class="col-md-9">

                                                    <ul id="lstFields" style="list-style: none; padding: 10px; border: 1px solid black;">
                                                        <li is="field-list-item" v-for="item in currentType.AppTypeListItems.FieldList" v-bind:item="item"></li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="tab-pane fade" id="agreement-type-edit">

                                        <br />
                                        <form>
                                            <div class="form-group row">
                                                <label for="AppTypeName" class="col-md-3 col-form-label">Agreement Application Type Name</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control form-control-sm" v-model="currentType.Name" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Agreement Application Field List</label>
                                                <div class="col-md-9">

                                                    <button type="button" class="btn btn-primary" v-on:click.prevent="showAddFieldDialog(null)">Add Field</button>
                                                    <br /><br />
                                                    <span>Note: Use drag-and-drop to reorder the fields.</span>

                                                    <table id="tblFieldList" class="table table-striped table-bordered table-hover table-sm">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Field Name</th>
                                                                <th scope="col">Field Type</th>
                                                                <th scope="col">Required</th>
                                                                <th scope="col"></th>
                                                                <th scope="col"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr is="field-list-edit-row" v-for="item in currentType.AppTypeListItems.FieldList"
                                                                v-bind:current-type-id="currentTypeId"
                                                                v-bind:item="item"                                                                
                                                                v-bind:field-types="appData.DropdownItemLists.FieldTypes"
                                                                v-bind:data-type-id="item.FieldId"></tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>

                                <div class="modal fade" id="dialog-field-edit" tabindex="-1">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content" v-if="currentField != null">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit Field: {{ currentField.Name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form v-on:submit.prevent="editField">
                                                    <a class="btn btn-primary btn-sm" v-bind:class="{ hiddenblock: currentField.ParentFieldId == null }" href="#" v-on:click.prevent="showEditFieldDialog(currentField.ParentFieldId)">Edit Parent Field</a>

                                                    <input type="hidden" name="FieldId" v-model="currentField.FieldId" />

                                                    <div class="form-group row">
                                                        <label for="FieldName" class="col-sm-2 col-form-label">Field Name</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control form-control-sm" v-model="currentField.Name" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="FieldType" class="col-sm-2 col-form-label">Field Type</label>
                                                        <div class="col-sm-10">
                                                            <select class="form-control form-control-sm" v-model="currentField.FieldTypeCode">
                                                                <option v-for="item in filterChildFieldTypes(appData.DropdownItemLists.FieldTypes, currentField.ParentFieldId != null)" v-bind:value="item.Code">
                                                                    {{ item.Name }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="FieldMultiplicity" class="col-sm-2 col-form-label">Field Multiplicity</label>
                                                        <div class="col-sm-10">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="FieldMultiplicity" value="true" v-model="currentField.FieldMultiplicityInd" />
                                                                <label class="form-check-label" for="FieldMultiplicity">This field is a collection of one or more records.</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div v-bind:class="{ hiddenblock: currentField.FieldTypeCode != 'Text' }">
                                                        <div class="form-group row">
                                                            <label for="FieldMaxLength" class="col-sm-2 col-form-label">Max Length</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control form-control-sm" id="FieldMaxLength" v-model="currentField.MaxLength" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div v-bind:class="{ hiddenblock: currentField.FieldTypeCode != 'CurrencyAmount' }">
                                                        <div class="form-group row">
                                                            <label for="FieldCurrencySetting" class="col-sm-2 col-form-label">Currency Setting</label>
                                                            <div class="col-sm-10">
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input" id="FieldCurrencySetting" value="WholeDollars" v-model="currentField.FieldRenderingTypeCode" />
                                                                    <label class="form-check-label" for="FieldCurrencySetting">Only allow whole dollars.</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div v-bind:class="{ hiddenblock: currentField.FieldTypeCode != 'CollectionOfFields' }">
                                                        <fieldset class="form-group">
                                                            <div class="row">
                                                                <label class="col-form-label col-sm-2 pt-0">Field List</label>
                                                                <div class="col-sm-10">

                                                                    <button type="button" class="btn btn-primary" v-on:click.prevent="showAddFieldDialog(currentField.FieldId)">Add Field</button>
                                                                    <br /><br />
                                                                    <span>Note: Use drag-and-drop to reorder the fields.</span>

                                                                    <table id="tblMultipleFieldList" class="table table-striped table-bordered table-hover table-sm small">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col">Field Name</th>
                                                                                <th scope="col">Field Type</th>
                                                                                <th scope="col">Required</th>
                                                                                <th scope="col"></th>
                                                                                <th scope="col"></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr is="field-list-edit-row" v-for="item in currentField.Children"
                                                                                v-bind:current-type-id="currentTypeId"
                                                                                v-bind:item="item"
                                                                                v-bind:field-types="appData.DropdownItemLists.FieldTypes"
                                                                                v-bind:data-type-id="item.FieldId"></tr>
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div v-bind:class="{ hiddenblock: currentField.FieldTypeCode != 'SelectionList' }">
                                                        <fieldset class="form-group">
                                                            <div class="row">
                                                                <label class="col-form-label col-sm-2 pt-0">Field Rendering</label>
                                                                <div class="col-sm-10">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" id="RenderAsCheckboxes" value="RenderAsCheckboxes" v-model="currentField.FieldRenderingTypeCode" />
                                                                        <label class="form-check-label" for="RenderAsCheckboxes">
                                                                            Render as a list of checkboxes
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" id="RenderAsMultiSelect" value="RenderAsMultiSelect" v-model="currentField.FieldRenderingTypeCode" />
                                                                        <label class="form-check-label" for="RenderAsMultiSelect">
                                                                            Render as a multi-select combo box
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <fieldset class="form-group">
                                                            <div class="row">
                                                                <label class="col-form-label col-sm-2 pt-0">Select List Items</label>
                                                                <div class="col-sm-10">

                                                                    <button type="button" class="btn btn-primary" v-on:click.prevent="addListItem(currentField)">Add Item</button>
                                                                    <br /><br />
                                                                    <span>Note: Use drag-and-drop to reorder the items.</span>

                                                                    <table id="tblSelectionItemList" class="table table-striped table-bordered table-hover table-sm small">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col">Item Name</th>
                                                                                <th scope="col"></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>                                                                            
                                                                            <tr is="field-selection-list-edit-row" v-for="item in currentField.ListItems"
                                                                                v-bind:field="currentField"
                                                                                v-bind:item="item"
                                                                                v-bind:data-type-id="item.ListItemId"></tr>
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div>
                                                        <div class="form-group row">
                                                            <label for="FieldValidationRequired" class="col-sm-2 col-form-label">Validation</label>
                                                            <div class="col-sm-10">
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input" id="FieldValidationRequired" v-model="currentField.RequiredInd" />
                                                                    <label class="form-check-label" for="FieldValidationRequired">This field is required.</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <br />
                    </div>

                    <div>
                        <h6 class="card-title">Application Type Workflow</h6>

                        <div class="card">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs" id="tabType">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="type-tab" data-toggle="tab" href="#workflow-steps">Workflow Steps</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="edit-tab" data-toggle="tab" href="#workflow-edit-steps">Edit Steps</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">

                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="workflow-steps">

                                        <br />
                                        <form>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Agreement Application Type Name</label>
                                                <div class="col-md-9">
                                                    {{ currentTypeName }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Workflow Steps</label>
                                                <div class="col-md-9">

                                                    <ul id="lstWorkflowStepList" style="list-style: none; padding: 10px; border: 1px solid black;">
                                                        <li is="workflow-step-list-item" v-for="item in currentType.AppTypeListItems.WorkflowStepList" v-bind:item="item"></li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="tab-pane fade" id="workflow-edit-steps">

                                        <br />
                                        <form>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Agreement Application Type Name</label>
                                                <div class="col-md-9">
                                                    {{ currentTypeName }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Workflow Steps</label>
                                                <div class="col-md-9">

                                                    <button type="button" class="btn btn-primary" v-on:click.prevent="showAddStepDialog">Add Step</button>
                                                    <br /><br />
                                                    <span>Note: Use drag-and-drop to reorder the steps.</span>

                                                    <table id="tblWorkflowStepList" class="table table-striped table-bordered table-hover table-sm">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Workflow Step</th>
                                                                <th scope="col">Assigned To</th>
                                                                <th scope="col"></th>
                                                                <th scope="col"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr is="workflow-step-list-edit-row" v-for="item in currentType.AppTypeListItems.WorkflowStepList"
                                                                v-bind:item="item"
                                                                v-bind:assignment-types="appData.DropdownItemLists.AssignmentTypes"
                                                                v-bind:data-type-id="item.WorkflowStepId"></tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>

                                <div class="modal fade" id="dialog-workflow-step-edit" tabindex="-1">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content" v-if="currentWorkflowStep != null">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit Workflow Step: {{ currentWorkflowStep.Name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <input type="hidden" id="WorkflowStepId" name="WorkflowStepId" value="" />

                                                    <div class="form-group row">
                                                        <label for="WorkflowStepName" class="col-sm-2 col-form-label">Step Name</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control form-control-sm" v-model="currentWorkflowStep.Name" />                                                            
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="WorkflowStepAssignmentType" class="col-sm-2 col-form-label">Assigned To</label>
                                                        <div class="col-sm-10">                                                            
                                                            <select class="form-control form-control-sm" v-model="currentWorkflowStep.AssignmentTypeCode">
                                                                <option v-for="item in appData.DropdownItemLists.AssignmentTypes" v-bind:value="item.Code">
                                                                    {{ item.Name }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="WorkflowStepStatusText" class="col-sm-2 col-form-label">Step Status Text</label>
                                                        <div class="col-sm-10">                                                            
                                                            <editor v-model="currentWorkflowStep.StatusText" v-bind:init="{plugins: 'code'}"></editor>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="WorkflowStepEmailTemplateText" class="col-sm-2 col-form-label">Email Template Text</label>
                                                        <div class="col-sm-10">                                                            
                                                            <editor v-model="currentWorkflowStep.EmailTemplateText" v-bind:init="{plugins: 'code'}"></editor>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <br />
                    </div>

                    <div>
                        <h6 class="card-title">Application Type Templates</h6>

                        <div class="card">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs" id="tabType">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="type-tab" data-toggle="tab" href="#type-templates">Templates</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit-type-templates">Edit Templates</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">

                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="type-templates">

                                        <br />
                                        <form>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Agreement Application Type Name</label>
                                                <div class="col-md-9">
                                                    {{ currentTypeName }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Templates</label>
                                                <div class="col-md-9">

                                                    <ul id="lstTypeTemplateList" style="list-style: none; padding: 10px; border: 1px solid black;">
                                                        <li is="type-template-list-item" v-for="item in currentType.AppTypeListItems.TypeTemplateList" v-bind:item="item"></li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="tab-pane fade" id="edit-type-templates">

                                        <br />
                                        <form>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Agreement Application Type Name</label>
                                                <div class="col-md-9">
                                                    {{ currentTypeName }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Templates</label>
                                                <div class="col-md-9">

                                                    <button type="button" class="btn btn-primary" v-on:click.prevent="showAddTypeTemplateDialog">Add Template</button>
                                                    <br /><br />
                                                    <span>Note: Use drag-and-drop to reorder the templates.</span>

                                                    <table id="tblTypeTemplateList" class="table table-striped table-bordered table-hover table-sm">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Name</th>
                                                                <th scope="col">Template Type</th>
                                                                <th scope="col"></th>
                                                                <th scope="col"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr is="type-template-list-edit-row" v-for="item in currentType.AppTypeListItems.TypeTemplateList"
                                                                v-bind:item="item"
                                                                v-bind:type-template-types="appData.DropdownItemLists.TypeTemplateTypes"
                                                                v-bind:data-type-id="item.TypeTemplateId"></tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>

                                <div class="modal fade" id="dialog-type-template-edit" tabindex="-1">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content" v-if="currentTypeTemplate != null">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit Type Template: {{ currentTypeTemplate.Name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <input type="hidden" id="TypeTemplateId" name="TypeTemplateId" value="" />

                                                    <div class="form-group row">
                                                        <label for="TypeTemplateName" class="col-sm-2 col-form-label">Template Name</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control form-control-sm" v-model="currentTypeTemplate.Name" />                                                            
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="TypeTemplateType" class="col-sm-2 col-form-label">Template Type</label>
                                                        <div class="col-sm-10">                                                            
                                                            <select class="form-control form-control-sm" v-model="currentTypeTemplate.TypeTemplateTypeCode">
                                                                <option v-for="item in appData.DropdownItemLists.TypeTemplateTypes" v-bind:value="item.Code">
                                                                    {{ item.Name }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="TypeTemplateContent" class="col-sm-2 col-form-label">Template Content</label>
                                                        <div class="col-sm-10">
                                                            <editor v-model="currentTypeTemplate.Content" v-bind:init="{plugins: 'code'}"></editor>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div id="AjaxLoader" class="AjaxLoader hiddenblock">
        <div id="AjaxLoaderInner" class="text-center">
            <img src="@Url.Content("~/Content/Images/Ripple-1s-200px.gif")" />
        </div>
    </div>
</div>

<script>

    let timeoutValue = 15 * 1000 // 15 seconds
    let isOnlineCheckIntervalValue = 60 * 1000 // 1 minute

    // Drag-and-Drop Source URL: https://jsfiddle.net/bgrins/tzYbU/
    // Reference URL: http://www.foliotek.com/devblog/make-table-rows-sortable-using-jquery-ui-sortable/

    var fixHelper = function (e, ui) {
        ui.children().each(function () {
            $(this).width($(this).width())
        })
        return ui
    }

    // Reference URL: https://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript#2117523
    function generateGuid() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }

    // Reference URL: https://stackoverflow.com/questions/2010892/storing-objects-in-html5-localstorage/3146971#3146971
    Storage.prototype.setObject = function (key, value) {
        this.setItem(key, JSON.stringify(value))
    }

    Storage.prototype.getObject = function (key) {
        let value = this.getItem(key)
        return value && JSON.parse(value)
    }

    function copyObj(obj) {
        return JSON.parse(JSON.stringify(obj))
    }

    function scrollToId(id) {
        if ($('#' + id).length) {
            $('html, body').animate({ scrollTop: $('#' + id).offset().top - 100 }, 500)
        }
    }


    $(function () {

        $('#dialog-field-edit, #dialog-workflow-step-edit, #dialog-type-template-edit').modal({
            keyboard: true,
            backdrop: 'static',
            show: false
        })

        $('#dialog-field-edit').on('shown.bs.modal', function (event) {
            initializeDragAndDrop()
        })

        initializeDragAndDrop()

        isConnectionOnline()
        setInterval(function () { isConnectionOnline() }, isOnlineCheckIntervalValue)

        let initializeSaveValues = true
        saveData(initializeSaveValues)

        setInterval(function () { saveData() }, 5000)
    })

    function initializeDragAndDrop() {

        $('#tblAppTypeList tbody').sortable({
            helper: fixHelper,
            stop: function (event, ui) {
                app.updateAppTypeListOrder()
                $(this).sortable('cancel')
            }
        }).disableSelection()

        $('#tblFieldList tbody').sortable({
            helper: fixHelper,
            stop: function (event, ui) {
                app.updateFieldListOrder()
                $(this).sortable('cancel')
            }
        }).disableSelection()

        $('#tblWorkflowStepList tbody').sortable({
            helper: fixHelper,
            stop: function (event, ui) {
                app.updateWorkflowStepListOrder()
                $(this).sortable('cancel')
            }
        }).disableSelection()

        $('#tblTypeTemplateList tbody').sortable({
            helper: fixHelper,
            stop: function (event, ui) {
                app.updateTypeTemplateListOrder()
                $(this).sortable('cancel')
            }
        }).disableSelection()

        $('#tblMultipleFieldList tbody').sortable({
            helper: fixHelper,
            stop: function (event, ui) {
                app.updateMultipleFieldListOrder()
                $(this).sortable('cancel')
            }
        }).disableSelection()

        $('#tblSelectionItemList tbody').sortable({
            helper: fixHelper,
            stop: function (event, ui) {
                app.updateSelectionItemListOrder()
                $(this).sortable('cancel')
            }
        }).disableSelection()
    }

    function getAppTypeList() {

        $('#AjaxLoader').show()

        $.ajax({
            url: 'GetAppTypeListAjax',
            type: 'POST',
            data: {

            },
            success: function (response) {
                app.appData.AppTypeList = response

                $('#AjaxLoader').hide()
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown)
            }
        })
    }

    function getAllDropdownItemTypesList() {
        $.ajax({
            url: 'GetAllDropdownItemListsAjax',
            type: 'POST',
            data: {
            },
            success: function (response) {
                app.appData.DropdownItemLists = response
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown)
            }
        })
    }

    function getAllAppTypeListItems(typeId) {
        if (app.isOnline) {
            $('#AjaxLoader').show()
            $.ajax({
                url: 'GetAllAppTypeListItemsAjax',
                type: 'POST',
                timeout: timeoutValue,
                data: {
                    typeId: typeId
                },
                success: function (response) {
                    app.currentTypeId = typeId
                    Vue.set(app.currentType, 'AppTypeListItems', response)

                    setTimeout(function () { scrollToId('pnlApplicationTypeDetails') }, 100)
                    setTimeout(function () { initializeDragAndDrop() }, 100)                    

                    let initializeSaveValues = true
                    saveFieldList(initializeSaveValues)
                    saveWorkflowStepList(initializeSaveValues)
                    saveTypeTemplateList(initializeSaveValues)

                    $('#AjaxLoader').hide()
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (textStatus === "timeout") {
                        app.isOnline = false
                    }
                    else {
                        app.isOnline = false
                        console.log(textStatus, errorThrown)
                    }

                    $('#AjaxLoader').hide()
                }
            })
        }
        else {
            app.currentTypeId = typeId
            setTimeout(function () { scrollToId('pnlApplicationTypeDetails') }, 100)
            setTimeout(function () { initializeDragAndDrop() }, 100)
        }
    }

    
    function saveData(initializeSaveValues) {        
        saveAppTypeList(initializeSaveValues)
        saveFieldList(initializeSaveValues)
        saveWorkflowStepList(initializeSaveValues)
        saveTypeTemplateList(initializeSaveValues)
    }

    let lastSaveAppTypeListValue;
    function saveAppTypeList(initializeSaveValues) {
        let appTypeList = copyObj(app.appData.AppTypeList)
        $.each(appTypeList, function () {
            this.AppTypeListItems = null
        })

        if (JSON.stringify(appTypeList) != lastSaveAppTypeListValue) {

            lastSaveAppTypeListValue = JSON.stringify(appTypeList)

            if (!initializeSaveValues) {                
                $.ajax({
                    url: 'SaveAppTypeListAjax',
                    type: 'POST',
                    timeout: timeoutValue,
                    data: {
                        appTypeList: appTypeList
                    },
                    success: function (response) {
                        let appTypeListItemsList = []
                        $.each(app.AppTypeList, function() { 
                            let currentType = app.getAppTypeByGuid(this.Guid)
                            appTypeListItems.push(copyObj(currentType.AppTypeListItems))
                        })

                        Vue.set(app.appData, 'AppTypeList', response)

                        $.each(app.AppTypeList, function () {
                            let currentType = app.getAppTypeByGuid(this.Guid)
                            Vue.set(currentType, 'AppTypeListItems', appTypeListItems)
                        })
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (textStatus === "timeout") {
                            app.isOnline = false
                        }
                        else {
                            app.isOnline = false
                            console.log(textStatus, errorThrown)
                        }
                    }
                })                
            }
        }
    }

    let lastSaveFieldListValue;
    function saveFieldList(initializeSaveValues) {
        $.each(app.appData.AppTypeList, function () {
            if (app.getAppTypeByGuid(this.Guid) != null
                && app.getAppTypeByGuid(this.Guid).AppTypeListItems != null
                && JSON.stringify(app.getAppTypeByGuid(this.Guid).AppTypeListItems.FieldList) != lastSaveFieldListValue) {

                lastSaveFieldListValue = JSON.stringify(app.getAppTypeByGuid(this.Guid).AppTypeListItems.FieldList)

                if (!initializeSaveValues) {
                
                        $.ajax({
                            url: 'SaveFieldListAjax',
                            type: 'POST',
                            timeout: timeoutValue,
                            data: {
                                typeId: this.TypeId,
                                guid: this.Guid,
                                fieldList: app.getAppTypeByGuid(this.Guid).AppTypeListItems.FieldList
                            },
                            guid: this.Guid, // Used in success function
                            success: function (response) {
                                let currentType = app.getAppTypeByGuid(this.guid)
                                Vue.set(currentType.AppTypeListItems, 'FieldList', response)
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                if (textStatus === "timeout") {
                                    app.isOnline = false
                                }
                                else {
                                    app.isOnline = false
                                    console.log(textStatus, errorThrown)
                                }
                            }
                        })                
                }
            }
        })
    }

    let lastSaveWorkflowStepListValue;
    function saveWorkflowStepList(initializeSaveValues) {
        $.each(app.appData.AppTypeList, function () {
            if (app.getAppTypeByGuid(this.Guid) != null
                && app.getAppTypeByGuid(this.Guid).AppTypeListItems != null
                && JSON.stringify(app.getAppTypeByGuid(this.Guid).AppTypeListItems.WorkflowStepList) != lastSaveWorkflowStepListValue) {

                lastSaveWorkflowStepListValue = JSON.stringify(app.getAppTypeByGuid(this.Guid).AppTypeListItems.WorkflowStepList)

                if (!initializeSaveValues) {                
                    $.ajax({
                        url: 'SaveWorkflowStepListAjax',
                        type: 'POST',
                        timeout: timeoutValue,
                        data: {
                            typeId: this.TypeId,
                            guid: this.Guid,
                            workflowStepList: app.getAppTypeByGuid(this.Guid).AppTypeListItems.WorkflowStepList
                        },
                        guid: this.Guid, // Used in success function
                        success: function (response) {
                            let currentType = app.getAppTypeByGuid(this.guid)
                            Vue.set(currentType.AppTypeListItems, 'WorkflowStepList', response)
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            if (textStatus === "timeout") {
                                app.isOnline = false
                            }
                            else {
                                app.isOnline = false
                                console.log(textStatus, errorThrown)
                            }
                        }
                    })                
                }
            }
        })
    }

    let lastSaveTypeTemplateListValue;
    function saveTypeTemplateList(initializeSaveValues) {
        $.each(app.appData.AppTypeList, function () {
            if (app.getAppTypeByGuid(this.Guid) != null
                && app.getAppTypeByGuid(this.Guid).AppTypeListItems != null
                && JSON.stringify(app.getAppTypeByGuid(this.Guid).AppTypeListItems.TypeTemplateList) != lastSaveTypeTemplateListValue) {

                lastSaveTypeTemplateListValue = JSON.stringify(app.getAppTypeByGuid(this.Guid).AppTypeListItems.TypeTemplateList)

                if (!initializeSaveValues) {
                    $.ajax({
                        url: 'SaveTypeTemplateListAjax',
                        type: 'POST',
                        timeout: timeoutValue,
                        data: {
                            typeId: this.TypeId,
                            guid: this.Guid,
                            typeTemplateList: app.getAppTypeByGuid(this.Guid).AppTypeListItems.TypeTemplateList
                        },
                        guid: this.Guid, // Used in success function
                        success: function (response) {
                            let currentType = app.getAppTypeByGuid(this.guid)
                            Vue.set(currentType.AppTypeListItems, 'TypeTemplateList', response)
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            if (textStatus === "timeout") {
                                app.isOnline = false
                            }
                            else {
                                app.isOnline = false
                                console.log(textStatus, errorThrown)
                            }
                        }
                    })
                }
            }
        })
    }

    function isConnectionOnline() {
        $.ajax({
            type: 'POST',
            url: 'IsOnlineAjax',
            timeout: timeoutValue,
            success: function (result) {
                app.isOnline = true
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (textStatus === "timeout") {
                    app.isOnline = false
                }
                else {
                    app.isOnline = false
                }
            }
        })
    }

    function getDefaultAppDataValues() {
        let values = {
            AppTypeList: [{
                TypeId: null,
                Name: null,
                Code: null,
                Order: null,
                Guid: null,
                AppTypeListItems: [{
                        FieldList: [{
                            FieldId: null,
                            ParentFieldId: null,
                            Name: null,
                            Code: null,
                            FieldTypeCode: null,
                            FieldMultiplicityInd: null,
                            MaxLength: null,
                            RequiredInd: null,
                            Order: null,
                            FieldRenderingTypeCode: null,
                            Children: [{
                                    FieldId: null,
                                    ParentFieldId: null,
                                    Name: null,
                                    Code: null,
                                    FieldTypeCode: null,
                                    FieldMultiplicityInd: null,
                                    MaxLength: null,
                                    RequiredInd: null,
                                    Order: null,
                                    FieldRenderingTypeCode: null,
                                    ListItems: [{
                                        ListItemId: null,
                                        Name: null,
                                        Code: null,
                                        Order: null,
                                        Guid: null,
                                    }],
                                    Guid: null,
                            }],
                            ListItems: [{
                                    ListItemId: null,
                                    Name: null,
                                    Code: null,
                                    Order: null,
                                    Guid: null,
                            }],
                            Guid: null,
                        }]
                    },
                    {
                        WorkflowStepList: [{
                            WorkflowStepId: null,
                            Name: null,
                            Code: null,
                            StatusText: null,
                            EmailTemplateText: null,
                            AssignmentTypeCode: null,
                            Order: null,
                            Guid: null,
                        }]
                    },
                    {
                        TypeTemplateList: [{
                            TypeTemplateId: null,
                            Name: null,
                            Code: null,
                            Content: null,
                            TypeTemplateTypeCode: null,
                            Order: null,
                            Guid: null,
                        }]
                    }
                ]
            }],
            DropdownItemLists: [
                { FieldTypes: [{ FieldTypeId: null, Name: null, Code: null }] },
                { AssignmentTypes: [{ AssignmentTypeId: null, Name: null, Code: null }] },
                { TypeTemplateTypes: [{ TypeTemplateTypeId: null, Name: null, Code: null }] }
            ]
        }

        return values
    }

    var appDataValues = {}

    function initialize() {
        appDataValues = localStorage.getObject('AppDataValues')
        if (appDataValues == null || appDataValues.length == 0) {
            appDataValues = getDefaultAppDataValues()
            getAppTypeList()
            getAllDropdownItemTypesList()
        }       
    }

    initialize()



    let htmlAppTypeListTableTemplate = [
        '<table id="tblAppTypeList" class="table table-striped table-bordered table-hover table-sm">',
            '<thead>',
                '<tr>',
                    '<th scope="col">Application Type</th>',
                    '<th></th>',
                '</tr>',
            '</thead>',
            '<tbody>',
                '<tr is="app-type-row-item" v-for="item in appTypeList" v-bind:item="item" v-bind:current-type-id="currentTypeId" v-bind:data-type-id="item.TypeId"></tr>',
            '</tbody>',
        '</table>'
    ].join('')

    let htmlAppTypeRowTemplate = [
        '<tr v-bind:class="{ \'table-success\': item.TypeId == currentTypeId }">',
            '<td>',
                '<a href="#" v-on:click.prevent="emitShowAppType(item.TypeId)">{{ item.Name }}</a>',
            '</td>',
            '<td>',
                '<a href="#" v-on:click.prevent="emitRemoveAppType(item)">Remove</a>',
            '</td>',
        '</tr>'
    ].join('')

    let htmlFieldListItemTemplate = [
        '<li>',
            '<div v-if="item.Children == null || item.Children.length == 0">',
                '<i data-feather="file"></i> {{ item.Name }} ({{ getFieldTypeName(item.FieldTypeCode) }}) <a href="#" v-on:click.prevent="emitShowEditFieldDialog(item.FieldId)">Edit</a>',
            '</div>',
            '<div v-else>',
                '<i data-feather="folder"></i> {{ item.Name }} ({{ getFieldTypeName(item.FieldTypeCode) }}) <a href="#" v-on:click.prevent="emitShowEditFieldDialog(item.FieldId)">Edit</a>',
                '<ul style="list-style: none; padding-left: 30px;">',
                    '<li is="field-list-item" v-for="item in item.Children" v-bind:item="item"></li>',
                '</ul>',
            '</div>',
        '</li>'
    ].join('')

    let htmlFieldListEditRowTemplate = [
        '<tr>',
            '<td>',
                '<input type="text" class="form-control form-control-sm" v-model="item.Name" />',
            '</td>',
            '<td>',
                '<select class="form-control form-control-sm" v-model="item.FieldTypeCode">',
                    '<option v-for="item in fieldTypes" v-bind:value="item.Code">',
                        '{{ item.Name }}',
                    '</option>',
                '</select>',
            '</td>',
            '<td>',
                '<div class="form-check">',
                    '<input class="form-check-input position-static" type="checkbox" v-model="item.RequiredInd" />',
                '</div>',
            '</td>',
            '<td>',
                '<a href="#" v-on:click.prevent="emitShowEditFieldDialog(item.FieldId)">Edit</a>',
            '</td>',
            '<td>',
                '<a href="#" v-on:click.prevent="emitRemoveField(item)">Remove</a>',
            '</td>',
        '</tr>'
    ].join('')

    let htmlWorkflowStepListItemTemplate = [
        '<li><i data-feather="check-square"></i> {{ item.Name }} ({{ getAssignmentTypeName(item.AssignmentTypeCode) }}) <a href="#" v-on:click.prevent="emitShowEditWorkflowStepDialog(item)">Edit</a></li>'
    ].join('')

    let htmlWorkflowStepListEditRowTemplate = [
        '<tr>',
            '<td>',
                '<input type="text" class="form-control form-control-sm" v-model="item.Name" />',
            '</td>',
            '<td>',
                '<select class="form-control form-control-sm" v-model="item.AssignmentTypeCode">',
                    '<option v-for="item in assignmentTypes" v-bind:value="item.Code">',
                        '{{ item.Name }}',
                    '</option>',
                '</select>',
            '</td>',
            '<td>',
                '<a href="#" v-on:click.prevent="emitShowEditWorkflowStepDialog(item)">Edit</a>',
            '</td>',
            '<td>',
                '<a href="#" v-on:click.prevent="emitRemoveWorkflowStep(item)">Remove</a>',
            '</td>',
        '</tr>'
    ].join('')

    let htmlTypeTemplateListItemTemplate = [
        '<li><i data-feather="check-square"></i> {{ item.Name }} ({{ getTypeTemplateTypeName(item.TypeTemplateTypeCode) }}) <a href="#" v-on:click.prevent="emitShowEditTypeTemplateDialog(item)">Edit</a></li>'
    ].join('')

    let htmlTypeTemplateListEditRowTemplate = [
        '<tr>',
            '<td>',
                '<input type="text" class="form-control form-control-sm" v-model="item.Name" />',
            '</td>',
            '<td>',
                '<select class="form-control form-control-sm" v-model="item.TypeTemplateTypeCode">',
                    '<option v-for="item in typeTemplateTypes" v-bind:value="item.Code">',
                        '{{ item.Name }}',
                    '</option>',
                '</select>',
            '</td>',
            '<td>',
                '<a href="#" v-on:click.prevent="emitShowEditTypeTemplateDialog(item)">Edit</a>',
            '</td>',
            '<td>',
                '<a href="#" v-on:click.prevent="emitRemoveTypeTemplate(item)">Remove</a>',
            '</td>',
        '</tr>'
    ].join('')

    let htmlFieldSelectionListEditRowTemplate = [
        '<tr>',
            '<td>',
                '<input type="text" class="form-control form-control-sm" v-model="item.Name" />',
            '</td>',
            '<td>',
                '<a href="#" v-on:click.prevent="emitRemoveListItem(field, item)">Remove</a>',
            '</td>',
        '</tr>'
    ].join('')

    const bus = new Vue({})

    Vue.component('app-type-list-table', {
        props: [
            'appTypeList',
            'currentTypeId'
        ],
        template: htmlAppTypeListTableTemplate,
        methods: {

        }
    })

    Vue.component('app-type-row-item', {
        props: [
            'item',
            'currentTypeId'
        ],
        template: htmlAppTypeRowTemplate,
        methods: {
            emitShowAppType(typeId) {
                bus.$emit('show-app-type', typeId)
            },
            emitRemoveAppType(type) {
                bus.$emit('remove-app-type', type)
            }
        }
    })

    Vue.component('field-list-item', {
        props: [
            'item'
        ],
        template: htmlFieldListItemTemplate,
        methods: {
            emitShowEditFieldDialog(fieldId) {
                bus.$emit('show-edit-field-dialog', fieldId)
            },
            getFieldTypeName(fieldTypeCode) {
                let fieldType = app.appData.DropdownItemLists.FieldTypes.filter(function (el) {
                    return el.Code === fieldTypeCode
                })

                if (fieldType.length) {
                    return fieldType[0].Name
                }
                else {
                    return ''
                }
            }
        }
    })

    Vue.component('field-list-edit-row', {
        props: [
            'currentTypeId',
            'item',
            'fieldTypes'
        ],
        template: htmlFieldListEditRowTemplate,
        methods: {
            emitShowEditFieldDialog(fieldId) {
                bus.$emit('show-edit-field-dialog', fieldId)
            },
            emitRemoveField(field) {
                bus.$emit('remove-field', field)
            }
        }
    })

    Vue.component('workflow-step-list-item', {
        props: [
            'item'
        ],
        template: htmlWorkflowStepListItemTemplate,
        methods: {
            emitShowEditWorkflowStepDialog(workflowStep) {
                bus.$emit('show-edit-workflow-step-dialog', workflowStep)
            },
            getAssignmentTypeName(assignmentTypeCode) {
                let workflowStepType = app.appData.DropdownItemLists.AssignmentTypes.filter(function (el) {
                    return el.Code === assignmentTypeCode
                })

                if (workflowStepType.length) {
                    return workflowStepType[0].Name
                }
                else {
                    return ''
                }
            }
        }
    })

    Vue.component('workflow-step-list-edit-row', {
        props: [
            'item',
            'assignmentTypes'
        ],
        template: htmlWorkflowStepListEditRowTemplate,
        methods: {
            emitShowEditWorkflowStepDialog(workflowStep) {
                bus.$emit('show-edit-workflow-step-dialog', workflowStep)
            },
            emitRemoveWorkflowStep(workflowStep) {
                bus.$emit('remove-workflow-step', workflowStep)
            }
        }
    })

    Vue.component('type-template-list-item', {
        props: [
            'item'
        ],
        template: htmlTypeTemplateListItemTemplate,
        methods: {
            emitShowEditTypeTemplateDialog(typeTemplate) {
                bus.$emit('show-edit-type-template-dialog', typeTemplate)
            },
            getTypeTemplateTypeName(typeTemplateTypeCode) {
                let typeTemplateType = app.appData.DropdownItemLists.TypeTemplateTypes.filter(function (el) {
                    return el.Code === typeTemplateTypeCode
                })

                if (typeTemplateType.length) {
                    return typeTemplateType[0].Name
                }
                else {
                    return ''
                }
            }
        }
    })

    Vue.component('type-template-list-edit-row', {
        props: [
            'item',
            'typeTemplateTypes'
        ],
        template: htmlTypeTemplateListEditRowTemplate,
        methods: {
            emitShowEditTypeTemplateDialog(typeTemplate) {
                bus.$emit('show-edit-type-template-dialog', typeTemplate)
            },
            emitRemoveTypeTemplate(typeTemplate) {
                bus.$emit('remove-type-template', typeTemplate)
            }
        }
    })

    Vue.component('field-selection-list-edit-row', {
        props: [
            'field',
            'item'
        ],
        template: htmlFieldSelectionListEditRowTemplate,
        methods: {
            emitRemoveListItem(field, listItem) {
                bus.$emit('remove-list-item', field, listItem)
            }
        }
    })

    var app = new Vue({
        el: '#app',
        data: {
            isOnline: true,
            dialogFieldEdit: {
                showFieldNameError: false,
            },
            currentTypeId: null,
            currentFieldId: null,
            currentWorkflowStepId: null,
            currentTypeTemplateId: null,
            lastTypeId: -1,
            lastFieldId: -1,
            lastListItemId: -1,
            lastWorkflowStepId: -1,
            lastTypeTemplateIdId: -1,
            appData: appDataValues
        },
        components: {
            VueAutonumeric,
            'editor': Editor
        },
        created() {
            bus.$on('show-app-type', (typeId) => {
                this.showAppType(typeId)
            })

            bus.$on('remove-app-type', (type) => {
                this.removeAppType(type)
            })

            bus.$on('show-edit-field-dialog', (fieldId) => {
                this.showEditFieldDialog(fieldId)
            })

            bus.$on('remove-field', (field) => {
                this.removeField(field)
            })

            bus.$on('remove-list-item', (field, listItem) => {
                this.removeListItem(field, listItem)
            })

            bus.$on('show-edit-workflow-step-dialog', (workflowStep) => {
                this.showEditWorkflowStepDialog(workflowStep)
            })

            bus.$on('remove-workflow-step', (workflowStep) => {
                this.removeWorkflowStep(workflowStep)
            })

            bus.$on('show-edit-type-template-dialog', (typeTemplate) => {
                this.showEditTypeTemplateDialog(typeTemplate)
            })

            bus.$on('remove-type-template', (typeTemplate) => {
                this.removeTypeTemplate(typeTemplate)
            })
        },
        methods: {
            showAppType: function (typeId) {
                getAllAppTypeListItems(typeId)                
            },
            createNewAppType: function () {
                this.currentTypeId = this.lastTypeId

                this.appData.AppTypeList.push({
                    TypeId: this.lastTypeId,
                    Name: 'New Application Type',
                    Code: null,
                    Order: null,
                    Guid: generateGuid()
                })

                this.lastTypeId--
            },
            removeAppType: function (type) {
                let typeId = type.TypeId
                if (this.appData.AppTypeList != null) {
                    let currentType = this.appData.AppTypeList.filter(function (el) {
                        return el.TypeId === typeId
                    })
                    
                    let index = this.appData.AppTypeList.indexOf(currentType[0])
                    this.appData.AppTypeList.splice(index, 1)
                }
            },
            showAddFieldDialog: function (parentFieldId) {
                this.currentFieldId = this.lastFieldId

                if (parentFieldId) {
                    let parentField = this.currentType.AppTypeListItems.FieldList.filter(function (el) {
                        return el.FieldId === parentFieldId
                    })

                    parentField = parentField[0]

                    parentField.Children.push({
                        FieldId: this.lastFieldId,
                        ParentFieldId: parentFieldId,
                        Name: 'New Field',
                        Code: null,
                        FieldTypeName: null,
                        FieldTypeCode: 'Text',
                        FieldMultiplicityInd: null,
                        MaxLength: null,
                        RequiredInd: null,
                        Order: null,
                        FieldRenderingTypeName: null,
                        FieldRenderingTypeCode: null
                    })
                }
                else {
                    this.currentType.AppTypeListItems.FieldList.push({
                        FieldId: this.lastFieldId,
                        ParentFieldId: parentFieldId,
                        Name: 'New Field',
                        Code: null,
                        FieldTypeName: null,
                        FieldTypeCode: 'Text',
                        FieldMultiplicityInd: null,
                        MaxLength: null,
                        RequiredInd: null,
                        Order: null,
                        FieldRenderingTypeName: null,
                        FieldRenderingTypeCode: null
                    })
                }

                this.lastFieldId--

                this.dialogFieldEdit = {
                    showFieldNameError: false,
                }

                $('#dialog-field-edit').modal('show')
            },
            showEditFieldDialog: function (fieldId) {
                this.dialogFieldEdit = {
                    showFieldNameError: false,
                }

                this.currentFieldId = fieldId
                let field = this.currentField

                $('#dialog-field-edit').modal('show')
            },
            removeField: function (field) {
                let fieldId = field.FieldId
                if (this.currentType.AppTypeListItems.FieldList != null) {
                    let currentField = this.currentType.AppTypeListItems.FieldList.filter(function (el) {
                        return el.FieldId === fieldId
                    })

                    if (currentField.length == 0) {
                        $.each(this.currentType.AppTypeListItems.FieldList, function () {
                            let item = $(this)[0]
                            if (item.Children && item.Children.length) {
                                let foundChild = item.Children.filter(function (el) {
                                    return el.FieldId === fieldId
                                })

                                if (foundChild.length) {
                                    let index = this.Children.indexOf(foundChild[0])
                                    item.Children.splice(index, 1)
                                }
                            }
                        })
                    }
                    else {
                        let index = this.currentType.AppTypeListItems.FieldList.indexOf(currentField[0])
                        this.currentType.AppTypeListItems.FieldList.splice(index, 1)
                    }
                }
            },
            addListItem: function (field) {
                field.ListItems.push({
                    ListItemId: this.lastListItemId,
                    Name: 'New List Item',
                    Code: null,
                    Order: null,
                    Guid: generateGuid()
                })

                this.lastListItemId--
            },
            removeListItem: function (field, listItem) {
                let index = field.ListItems.indexOf(listItem)
                field.ListItems.splice(index, 1)
            },
            showEditWorkflowStepDialog: function (workflowStep) {
                this.currentWorkflowStepId = workflowStep.WorkflowStepId
                $('#dialog-workflow-step-edit').modal('show')
            },
            showAddStepDialog: function () {
                this.currentWorkflowStepId = this.lastWorkflowStepId

                this.currentType.AppTypeListItems.WorkflowStepList.push({
                    WorkflowStepId: this.lastWorkflowStepId,
                    Name: 'New Workflow Step',
                    Code: null,
                    StatusText: null,
                    EmailTemplateText: null,
                    AssignmentTypeCode: null,
                    Order: null,
                    Guid: generateGuid()
                })

                this.lastWorkflowStepId--

                $('#dialog-workflow-step-edit').modal('show')
            },
            removeWorkflowStep: function (workflowStep) {
                let index = this.currentType.AppTypeListItems.WorkflowStepList.indexOf(workflowStep)
                this.currentType.AppTypeListItems.WorkflowStepList.splice(index, 1)
            },
            showEditTypeTemplateDialog: function (typeTemplate) {
                this.currentTypeTemplateId = typeTemplate.TypeTemplateId
                $('#dialog-type-template-edit').modal('show')
            },
            showAddTypeTemplateDialog: function () {
                this.currentTypeTemplateId = this.lastTypeTemplateIdId

                this.currentType.AppTypeListItems.TypeTemplateList.push({
                    TypeTemplateId: this.lastTypeTemplateIdId,
                    Name: 'New Type Template',
                    Code: null,
                    Content: null,
                    TypeTemplateTypeCode: null,
                    Order: null,
                    Guid: generateGuid()
                })

                this.lastTypeTemplateIdId--

                $('#dialog-type-template-edit').modal('show')
            },
            removeTypeTemplate: function (typeTemplate) {
                let index = this.currentType.AppTypeListItems.TypeTemplateList.indexOf(typeTemplate)
                this.currentType.AppTypeListItems.TypeTemplateList.splice(index, 1)
            },
            saveEditFieldDialog: function (fieldId) {
                let fieldName = this.dialogFieldEdit.FieldName
                if (fieldName) {

                    $('#dialog-field-edit').modal('hide')
                }
                else {
                    this.dialogFieldEdit.showFieldNameError = true
                }
            },
            filterChildFieldTypes: function (fieldTypes, isChild) {
                if (isChild) {
                    return fieldTypes.filter(function (el) {
                        return el.Code !== 'CollectionOfFields'
                    })
                }
                else {
                    return fieldTypes
                }
            },
            updateAppTypeListOrder: function () {
                let order = 1
                let appTypeList = this.appData.AppTypeList
                $('#tblAppTypeList tbody tr').each(function () {
                    let currentTypeId = $(this).attr('data-type-id')
                    let currentType = appTypeList.filter(function (el) {
                        return el.TypeId == currentTypeId
                    })

                    currentType[0].Order = order++
                })

                appTypeList.sort(function (a, b) { return a.Order - b.Order })
            },
            updateFieldListOrder: function () {
                let order = 1
                let fieldList = this.currentType.AppTypeListItems.FieldList
                $('#tblFieldList tbody tr').each(function () {
                    let currentFieldId = $(this).attr('data-type-id')
                    let currentField = fieldList.filter(function (el) {
                        return el.FieldId == currentFieldId
                    })

                    currentField[0].Order = order++
                })

                fieldList.sort(function (a, b) { return a.Order - b.Order })
            },
            updateMultipleFieldListOrder: function () {
                let order = 1
                let fieldList = this.currentField.Children
                $('#tblMultipleFieldList tbody tr').each(function () {
                    let currentFieldId = $(this).attr('data-type-id')
                    let currentField = fieldList.filter(function (el) {
                        return el.FieldId == currentFieldId
                    })

                    currentField[0].Order = order++
                })

                fieldList.sort(function (a, b) { return a.Order - b.Order })
            },
            updateSelectionItemListOrder: function () {
                let order = 1
                let listItems = this.currentField.ListItems
                $('#tblSelectionItemList tbody tr').each(function () {
                    let currentListItemId = $(this).attr('data-type-id')
                    let currentListItem = listItems.filter(function (el) {
                        return el.ListItemId == currentListItemId
                    })

                    currentListItem[0].Order = order++
                })

                listItems.sort(function (a, b) { return a.Order - b.Order })
            },
            updateWorkflowStepListOrder: function () {
                let order = 1
                let workflowStepList = this.currentType.AppTypeListItems.WorkflowStepList
                $('#tblWorkflowStepList tbody tr').each(function () {
                    let currentWorkflowStepId = $(this).attr('data-type-id')
                    let currentWorkflowStep = workflowStepList.filter(function (el) {
                        return el.WorkflowStepId == currentWorkflowStepId
                    })

                    currentWorkflowStep[0].Order = order++
                })

                workflowStepList.sort(function (a, b) { return a.Order - b.Order })
            },
            updateTypeTemplateListOrder: function () {
                let order = 1
                let typeTemplateList = this.currentType.AppTypeListItems.TypeTemplateList
                $('#tblTypeTemplateList tbody tr').each(function () {
                    let currentTypeTemplateId = $(this).attr('data-type-id')
                    let currentTypeTemplate = typeTemplateList.filter(function (el) {
                        return el.TypeTemplateId == currentTypeTemplateId
                    })

                    currentTypeTemplate[0].Order = order++
                })

                typeTemplateList.sort(function (a, b) { return a.Order - b.Order })
            },
            getAppType: function (typeId) {
                let currentTypeId = typeId
                let currentType = this.appData.AppTypeList.filter(function (el) {
                    return el.TypeId === currentTypeId
                })

                if (currentType.length) {
                    return currentType[0]
                }
                else {
                    return null
                }
            },
            getAppTypeByGuid: function (guid) {
                let currentType = this.appData.AppTypeList.filter(function (el) {
                    return el.Guid === guid
                })

                if (currentType.length) {
                    return currentType[0]
                }
                else {
                    return null
                }
            },
        },
        computed: {
            currentField: function () {
                let currentFieldId = this.currentFieldId

                if (this.currentType.AppTypeListItems.FieldList != null) {
                    let currentField = this.currentType.AppTypeListItems.FieldList.filter(function (el) {
                        return el.FieldId === currentFieldId
                    })

                    if (currentField.length == 0) {
                        $.each(this.currentType.AppTypeListItems.FieldList, function () {
                            let item = $(this)[0]
                            if (item.Children && item.Children.length) {
                                let foundChild = item.Children.filter(function (el) {
                                    return el.FieldId === currentFieldId
                                })

                                if (foundChild.length) {
                                    currentField = foundChild
                                }
                            }
                        })
                    }

                    if (currentField.length) {
                        return currentField[0]
                    }
                    else {
                        return null
                    }
                }
                else {
                    return null
                }
            },
            currentType: function () {
                return this.getAppType(this.currentTypeId)
            },
            currentTypeName: function () {
                if (this.currentType) {
                    return this.currentType.Name
                }
                else {
                    return ''
                }
            },
            currentWorkflowStep: function () {
                let currentWorkflowStepId = this.currentWorkflowStepId
                if (this.currentType.AppTypeListItems.WorkflowStepList != null) {
                    let currentStep = this.currentType.AppTypeListItems.WorkflowStepList.filter(function (el) {
                        return el.WorkflowStepId === currentWorkflowStepId
                    })

                    if (currentStep.length) {
                        return currentStep[0]
                    }
                    else {
                        return null
                    }
                }
                else {
                    return null
                }
            },
            currentTypeTemplate: function () {
                let currentTypeTemplateId = this.currentTypeTemplateId
                if (this.currentType.AppTypeListItems.WorkflowStepList != null) {
                    let currentTemplate = this.currentType.AppTypeListItems.TypeTemplateList.filter(function (el) {
                        return el.TypeTemplateId === currentTypeTemplateId
                    })

                    if (currentTemplate.length) {
                        return currentTemplate[0]
                    }
                    else {
                        return null
                    }
                }
                else {
                    return null
                }
            },
        },
        updated: function () {
            this.$nextTick(function () {
                feather.replace()
                localStorage.setObject('AppDataValues', this.appData)                
            })
        }
    })

    $('#app').show()
</script>
