﻿@{
    ViewBag.Title = "Agreement Application Dashboard";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Agreement Application Dashboard</h1>
</div>

<div class="float-right">
    <a href="@Url.Action("Applications")?agreementId=0" class="btn btn-primary btn-sm">New Application</a>
</div>

<h4 style="color: dodgerblue;">Applications</h4>

<div class="table-responsive">
    <table id="tblApplications" class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Type</th>
                <th>Location</th>
                <th>Contact</th>
                <th>Date(s)</th>
                <th>Status</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Type</th>
                <th>Location</th>
                <th>Contact</th>
                <th>Date(s)</th>
                <th>Status</th>
            </tr>
        </tfoot>
    </table>
</div>

<script>

    function initializeTable() {
        $('#tblApplications').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: '@Url.Action("ApplicationsGridAjax")',
                type: 'POST'
            },
            order: [[ 1, 'asc' ]],
            columns: [
                { data: 'AgreementId', visible: false },
                {
                    data: 'Name',
                    render: function (data, type, row, meta) {
                        var sanitized = $.fn.dataTable.render.text().display(data, type, row, meta);
                        return '<a href="' + '@Url.Action("Applications")' + '?agreementId=' + row.AgreementId + '">' + sanitized + '</a>';
                    }
                },
                { data: 'Type' },
                { data: 'Location' },
                { data: 'Contact' },
                { data: 'Dates' },
                { data: 'Status' }
            ]
        });
    }

    $(function () {

        initializeTable();


    });
</script>
