﻿@{
    ViewBag.Title = "Security Example";
}
<h2>@ViewBag.Title</h2>

<div class="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My Security Example</h3>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-primary" onclick="updateUser('bsmith');">Set user as Bob Smith</button> 
            <button type="button" class="btn btn-primary" onclick="updateUser('kmiller');">Set user as Kate Miller</button>
            <button type="button" class="btn btn-primary" onclick="updateUser('hwilson');">Set user as Heather Wilson</button>
            <br /><br />

            <br />
            <strong>My Module 1 - Read-Only Access</strong>
            <div id="pnlMyModule1ReadOnlyAccess" class="well">

            </div>

            <br />
            <strong>My Module 1 - Full Access</strong>
            <div id="pnlMyModule1FullAccess" class="well">

            </div>

            <br />
            <strong>My Module 1 - Admin Access</strong>
            <div id="pnlMyModule1AdminAccess" class="well">

            </div>

            <br />
            <strong>My Module 1 or My Module 2 - Read-Only Access</strong>
            <div id="pnlMyModule1OrMyModule2ReadOnlyAccess" class="well">

            </div>
        </div>
    </div>
</div>

<script>

    function updateUser(username) {

        updatePage('MyModule1ReadOnlyAccess', 'pnlMyModule1ReadOnlyAccess', username);
        updatePage('MyModule1FullAccess', 'pnlMyModule1FullAccess', username);
        updatePage('MyModule1AdminAccess', 'pnlMyModule1AdminAccess', username);
        updatePage('MyModule1OrMyModule2ReadOnlyAccess', 'pnlMyModule1OrMyModule2ReadOnlyAccess', username);
    }

    function updatePage(page, panel, username) {

        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/SecurityExample/")' + page + '?username=' + username,
            success: function (result) {

                $('#' + panel).html(result);
            }
        });
    }

    $(function () {
   

    });
</script>