﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width" />
    <title>My Cloud Report</title>
    <style>
        * {
            font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
            font-size: 14pt;
            line-height: 1.25;
        }
    </style>
</head>
<body>
    <h1>My Report</h1>
    <div>@DateTime.Now.Date.ToString("dddd, MMMM d, yyyy")</div>

    <h2>@ViewBag.Text</h2>
</body>
</html>