﻿@{
    ViewBag.Title = "Playlist";
}

<div class="jumbotron">
    <h2>Playlist Import Process Completed</h2>
</div>

<script>
    setTimeout(function () { location.reload(); }, 60000 * 10);
</script>
