﻿@{
    ViewBag.Title = "Active Server Connection Example";
}
<h2>@ViewBag.Title</h2>

<div class="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My Server Connection</h3>
        </div>
        <div class="panel-body">
            <div id="pnlConnectionOnline" class="hiddenblock">
                <span style="color: green; font-weight: bold;">
                    <i class="fa fa-plug fa-lg"></i>
                    Connection is Online
                </span>
            </div>
            <div id="pnlConnectionOffline" class="hiddenblock">
                <span style="color: darkred; font-weight: bold;">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-plug fa-stack-1x" style="color: black;"></i>
                        <i class="fa fa-ban fa-stack-2x fa-flip-horizontal"></i>
                    </span>
                    Connection is Offline
                </span>
            </div>
        </div>
    </div>
</div>

<script>
    
    var isOnline = true;
    function isConnectionOnline() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("IsOnlineAjax", "AjaxExample")/',
            timeout: 15 * 1000, // Wait 15 seconds
            success: function (result) {
                isOnline = true;

                updateConnectionStatus();
            },
            error: function (x, t, m) {
                if (t === "timeout") {
                    isOnline = false;
                } else {
                    isOnline = false;
                }

                updateConnectionStatus();
            }
        });
    }

    function updateConnectionStatus() {

        if (isOnline) {
            $('#pnlConnectionOnline').show();
            $('#pnlConnectionOffline').hide();
        }
        else {
            $('#pnlConnectionOnline').hide();
            $('#pnlConnectionOffline').show();
        }
    }

    $(function () {
                   
        updateConnectionStatus();
        isConnectionOnline();

        setInterval(function () { isConnectionOnline(); }, 1000 * 60 /* Check every minute */);

    });
</script>
