﻿@{
    ViewBag.Title = "AJAX Tooltip Example";
}
<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">AJAX Tooltip Example (Hover over link)</h3>
    </div>
    <div class="panel-body">
        <a href="#" class="detailtooltip" data-id="147">Sample Customer from Database (ID 147: Alice Clark)</a>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/tooltipster.bundle.min.css")" />
<script type="text/javascript" src="@Url.Content("~/Scripts/tooltipster.bundle.min.js")"></script>

<script>
    $(function () {

        $('.detailtooltip').tooltipster({
            content: 'Loading...',
            contentAsHTML: true,
            // 'instance' is basically the tooltip. More details in the "Object-oriented Tooltipster" section.
            functionBefore: function (instance, helper) {

                var $origin = $(helper.origin);

                // we set a variable so the data is only loaded once via Ajax, not every time the tooltip opens
                if ($origin.data('loaded') !== true) {

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("TooltipDetailsAjax", "AjaxExample")/' + $origin.attr('data-id'),
                        success: function (data) {

                            // call the 'content' method to update the content of our tooltip with the returned data.
                            // note: this content update will trigger an update animation (see the updateAnimation option)
                            instance.content(data);

                            // to remember that the data has been loaded
                            $origin.data('loaded', true);
                        }
                    });
                }
            }
        });
    });
</script>