﻿@{
    ViewBag.Title = "Client-Side Download Example";
}
<h2>@ViewBag.Title</h2>

<div class="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Download Example</h3>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-primary" onclick="downloadFile();">Download 'Hello World' File</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/FileSaver.min.js")"></script>

<script>

    function downloadFile() {

        var blob = new Blob(["Hello World"], { type: "text/plain;charset=utf-8" });
        saveAs(blob, "helloworld.txt");
    }

    $(function () {

    });
</script>