﻿@{
    ViewBag.Title = "Dialog Pop-up Example";
}
<h2>@ViewBag.Title</h2>

<a href="https://example.com" class="btn btn-primary btn-lg modal-link">Launch demo modal</a>

<div id="dialog-form" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <iframe id="modaliframe" class="modal-iframe" seamless="seamless" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function resizeModalDialog() {
        $("#dialog-form .modal-dialog").css("width", $(document).width() - 50);
        $("#modaliframe").css("height", (window.innerHeight - 110) + "px");
        $("#modaliframe").css("width", "100%");
        $('.modal-backdrop').css("height", $(document).height() + "px");
    }

    function initModalLink() {
        $('.modal-link').off('click');
        $('.modal-link').on('click', function () {
            var modalUrlTarget = $(this).attr('href');
            var url = window.location.href;
            $("#modaliframe").attr('src', modalUrlTarget);
            $('#dialog-form').modal('show');
            return false;
        });
    }

    function initialize() {    
        
        $('#dialog-form').modal({
            keyboard: false,
            backdrop: 'static',
            show: false
        });

        $(window).resize(function () {
            resizeModalDialog();
        });

        $('#dialog-form').on('show.bs.modal', function (e) {
            setTimeout("$(window).resize();", 300);
            setTimeout("$(window).resize();", 1000);
        });

        $('#dialog-form').on('hide.bs.modal', function (e) {
            $("#modaliframe").attr('src', '');
        });

        initModalLink();
    }


    $(function () {    
            
        initialize();
    });
</script>