﻿@{
    ViewBag.Title = "Email Sent";
}
<h2>@ViewBag.Title</h2>

<div class="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My Email</h3>
        </div>
        <div class="panel-body">
            <b>The email was successfully sent!</b>
        </div>
    </div>
</div>

<script>
    
    $(function () {

    });
</script>