﻿@{
    ViewBag.Title = "Email Image Example";
}
<h2>@ViewBag.Title</h2>

<div class="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My Email Image Example</h3>
        </div>
        <div class="panel-body">
            <a id="lnkSendEmail" class="btn btn-primary" href="">Send Email</a>
        </div>
    </div>
</div>

<script>
    
    $(function () {

        $("#lnkSendEmail").click(function () {
            $("#lnkSendEmail").attr('href', '@Url.Action("EmailImageSentExample", "Home")');
        });        

    });
</script>