﻿@{
    ViewBag.Title = "Export to Excel Example";
}
<h2>@ViewBag.Title</h2>

<div class="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My Excel Export</h3>
        </div>
        <div class="panel-body">
            <a id="lnkGenerate" class="btn btn-primary" href="">Generate Excel File</a>
        </div>
    </div>
</div>

<script>
    
    $(function () {

        $("#lnkGenerate").click(function () {
            $("#lnkGenerate").attr('href', '@Url.Action("GenerateExcelExport", "Home")');
        });        

    });
</script>