﻿@using PortfolioExamples.Business.Helpers
@model SmmryJsonHelper
@{
    ViewBag.Title = "Smmry Output";
}
<h2>@ViewBag.Title</h2>

<div class="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Smmry API Output</h3>
        </div>
        <div class="panel-body">
            <strong><a href="@Model.url" target="_blank">@Model.sm_api_title</a></strong><br /><br />
            <p>
                @{ WriteLiteral(!string.IsNullOrEmpty(Model.sm_api_content) ? Model.sm_api_content.Replace("[BREAK]", "<br /><br />") : Model.sm_api_message); }
            </p>
            <hr />

            <strong>HTML Source</strong>
            <textarea style="min-width: 100%; height: 300px;">
                @{ WriteLiteral(Html.Encode("<strong><a href=\"" + Model.url + "\" target=\"_blank\">" + Model.sm_api_title + "</a></strong><br /><br />")); }
                @{ WriteLiteral(Html.Encode("<p>")); }
                    @{ WriteLiteral(Html.Encode(!string.IsNullOrEmpty(Model.sm_api_content) ? Model.sm_api_content.Replace("[BREAK]", "<br /><br />") : Model.sm_api_message)); }
                @{ WriteLiteral(Html.Encode("</p>")); }
                @{ WriteLiteral(Html.Encode("<hr />")); }</textarea>
        </div>
    </div>
</div>
