﻿@{
    ViewBag.Title = "Hangfire Example";
}
<h2>@ViewBag.Title</h2>

<div class="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My Hangfire Example</h3>
        </div>
        <div class="panel-body">
            <b>Text:</b> <input id="text" name="text" class="form-control" value="Hello World!" />

            <br />
            <div id="pnlGenerate">
                <button id="lnkGenerate" class="btn btn-primary">Generate Hangfire Queued PDF Document</button>
            </div>
            <br />
            <div id="pnlResult" style="color: dodgerblue; font-weight: bold;">
                
            </div>
        </div>
    </div>
</div>

<script>

    var documentGuid = '';
    var intervalId;
    function getHangfireResult() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetHangfireResult", "Home")',
            data: {
                documentGuid: documentGuid
            },
            success: function (data) {

                if (data) {
                    $('#pnlGenerate').show();
                    $('#pnlResult').html('Here is the generated result: <a href="@Url.Content("~/Temp/")' + documentGuid + '.pdf">Download PDF Document</a>');

                    clearInterval(intervalId);
                }
            }
        });
    }

    function generateHangfireQueueItem(text) {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateHangfireQueueItem", "Home")',
            data: {
                text: text
            },
            success: function (data) {

                documentGuid = data;
                intervalId = setInterval(getHangfireResult, 2000);

                $('#pnlGenerate').hide();
                $('#pnlResult').html('The queue item has been generated and is processing... <br /><br />Please wait 10 seconds... <img src="@Url.Content("~/Content/Images/ajax-loader.gif")" />');                
            }
        });
    }

    $(function () {

        $("#lnkGenerate").click(function () {
            generateHangfireQueueItem($('#text').val());
        });       

    });
</script>