﻿@{
    ViewBag.Title = "Highlighting Search Example";
}
<h2>@ViewBag.Title</h2>

<div class="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My Search</h3>
        </div>
        <div class="panel-body">
            <b>Search:</b> <input id="search" name="search" class="form-control" value="alpha ice" />

            <div id="pnlSearchResults">

            </div>
        </div>
    </div>
</div>

<script>

    function updateSearchPanel() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("SearchHighlightAjax", "AjaxExample")',
            data: {
                search: $('#search').val()
            },
            success: function (result) {

                $('#pnlSearchResults').html(result);
            }
        });
    }

    $(function () {

        $("#search").keyup(function () {
            updateSearchPanel();
        });
        
        updateSearchPanel();
    });
</script>