﻿@{
    ViewBag.Title = "PDF Example";
}
<h2>@ViewBag.Title</h2>

<div class="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My PDF Report</h3>
        </div>
        <div class="panel-body">
            <b>Text:</b> <input id="text" name="text" class="form-control" value="Hello World!" />

            <br />
            <a id="lnkGenerate" class="btn btn-primary" href="">Generate PDF</a>
        </div>
    </div>
</div>

<script>
    
    $(function () {

        $("#lnkGenerate").click(function () {
            $("#lnkGenerate").attr('href', '@Url.Action("GeneratePdf", "Home")?text=' + $('#text').val());
        });        

    });
</script>