﻿@{
    ViewBag.Title = "Rich Text Cleaning Example";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="form">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">My Rich Text (Copy some formatted text to clean...)</h3>
            </div>
            <div class="panel-body">
                <div id="MyRichText_status"></div>
                <textarea id="MyRichText" name="MyRichText" class="form-control" rows="6" style="min-width: 100%; min-height: 300px;"></textarea>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

<script>

    function cleanText(text) {

        var resultText = '';
        $.ajax({
            type: 'POST',
            async: false,
            url: '@Url.Action("CleanHtmlMarkupAjax", "AjaxExample")',
            data: {
                text: text
            },
            success: function (result) {

                resultText = result;
            }
        });

        return resultText;
    }

    $(function () {

        tinymce.init({
            selector: 'textarea',
            browser_spellcheck: true,
            plugins: "link",
            plugins: "paste",
            paste_preprocess: function (plugin, args) {

                args.content = cleanText(args.content);
            }
        });

    });
</script>