﻿@{
    ViewBag.Title = "Rich Text Example";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="form">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">My Rich Text</h3>
            </div>
            <div class="panel-body">
                <div id="MyRichText_status"></div>
                <textarea id="MyRichText" name="MyRichText" class="form-control" rows="6" style="min-width: 100%; min-height: 300px;"></textarea>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

<script>
    $(function () {

        tinymce.init({
            selector: 'textarea',
            browser_spellcheck: true,
            plugins: "link",
            setup: function (ed) {
                ed.on('keyup', function (e) {
                    var strip = (ed.getContent()).replace(/<(.|\n)*?>/ig, "").replace(/\&[^;]+;/ig, "#");
                    $('#' + ed.id + '_status').text('Characters remaining: ' + (5000 - strip.length));
                });
                ed.on('paste', function (e) {
                    ed.fire('keyup');
                });
                ed.on('init', function (e) {
                    ed.fire('keyup');
                });
            }
        });

    });
</script>