﻿@{
    ViewBag.Title = "Smmry Example";
}
<h2>@ViewBag.Title</h2>

<div class="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Smmry API Example</h3>
        </div>
        <div class="panel-body">
            <b>URL:</b> <input id="url" name="url" class="form-control" value="" />

            <br />
            <a id="lnkGenerate" class="btn btn-primary" href="">Generate Summary</a>
        </div>
    </div>
</div>

<script>
    
    $(function () {

        $("#lnkGenerate").click(function () {
            $("#lnkGenerate").attr('href', '@Url.Action("GetSmmry", "Home")?url=' + $('#url').val() + '&sentenceCount=2');
        });        

    });
</script>