﻿@{
    ViewBag.Title = "Stripe Example";
}
<h2>@ViewBag.Title</h2>

<div class="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My Stripe Charge</h3>
        </div>
        <div class="panel-body">

            <h2>You successfully paid <strong>$5.00</strong></h2>

        </div>
    </div>
</div>
