﻿@using System.Web.Configuration
@{
    ViewBag.Title = "Stripe Example";
}
<h2>@ViewBag.Title</h2>

<div class="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My Stripe Charge</h3>
        </div>
        <div class="panel-body">
            
            <form action="@Url.Action("StripeChargeExample", "Home")" method="POST">
                
                <label>Amount: $5.00</label>                
                <script src="//checkout.stripe.com/v2/checkout.js"
                        class="stripe-button"
                        data-key="@WebConfigurationManager.AppSettings["StripePublishableKey"]"
                        data-locale="auto"
                        data-description="Sample Charge"
                        data-amount="500">
                </script>
            </form>

        </div>
    </div>
</div>
