﻿@{
    ViewBag.Title = "Text Character Count Example";
}
<h2>@ViewBag.Title</h2>

<div class="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My Description</h3>
        </div>
        <div class="panel-body">
            <div id="MyDescription_status"></div>
            <textarea id="MyDescription" name="MyDescription" class="form-control" rows="6" style="min-width: 100%; min-height: 300px;"></textarea>

        </div>
    </div>
</div>

<script>
    $(function () {

        $("#MyDescription").keyup(function () {
            var value = $("#MyDescription").val();
            $('#MyDescription_status').text('Characters remaining: ' + (500 - value.length));
        });
        $("#MyDescription").bind("paste", function () { $("#MyDescription").keyup(); });

        $("#MyDescription").keyup();
    });
</script>