﻿@{
    ViewBag.Title = "Validation Example";
}
<h2>@ViewBag.Title</h2>

<style>
    .required:after {
        content: " *";
        color: red;
    }

    .hide {
            visibility: hidden;
            display: block;
    }

    .errortext {
            font-size: 0.8em;
            font-weight: 400;
            display: block;
            color: red;
    }

    .validation_error {
            background: url('../Content/Images/error_small.png') no-repeat center right #fff;
            border: 1px solid red !important;
            border-radius: 5px;
    }

    .validation_success {
            background: url('../Content/Images/success_small.png') no-repeat center right #fff;
            border: 1px solid green;
            border-radius: 5px;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Name and Type</h3>
    </div>
    <div class="panel-body">

        <div class="form-group">
            <label class="control-label required">Name</label>
            <div>
                <input id="Name" class="form-control text-box single-line" type="text" value="" onblur="validateForm(this);" name="Name" maxlength="100" />
                <div id="Name_error" class="errortext hide">Please enter a name.</div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label required">Type</label>
            <div>
                <select id="TypeId" class="form-control" onblur="validateForm(this);" name="TypeId">
                    <option value="">[Select a Type]</option>
                    <option value="1">Type 1</option>
                    <option value="2">Type 2</option>
                    <option value="3">Type 3</option>
                </select>
                <div id="TypeId_error" class="errortext hide">Please enter a type.</div>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title required">Type of Radio</h3>
    </div>
    <div id="RadioType" class="panel-body">

        <div class="errortext hide" id="RadioType_error">Please select a radio type.</div>
        <label class="radio">
            <input type="radio" name="RadioType" id="RadioType1" value="1" onchange="validateForm(this);" /> Radio Type 1
        </label>
        <label class="radio">
            <input type="radio" name="RadioType" id="RadioType2" value="2" onchange="validateForm(this);" /> Radio Type 2
        </label>
        <label class="radio">
            <input type="radio" name="RadioType" id="RadioType3" value="3" onchange="validateForm(this);" /> Radio Type 3
        </label>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title required">Type of Checkbox</h3>
    </div>
    <div id="CheckboxType" class="panel-body">

        <div class="errortext hide" id="CheckboxType_error">Please select a checkbox type.</div>
        <label class="checkbox">
            <input type="checkbox" name="CheckboxType" id="CheckboxType1" value="1" onchange="validateForm(this);" /> Checkbox Type 1
        </label>
        <label class="checkbox">
            <input type="checkbox" name="CheckboxType" id="CheckboxType2" value="2" onchange="validateForm(this);" /> Checkbox Type 2
        </label>
        <label class="checkbox">
            <input type="checkbox" name="CheckboxType" id="CheckboxType3" value="3" onchange="validateForm(this);" /> Checkbox Type 3
        </label>

    </div>
</div>

<div class="alert alert-danger bold hide" id="lblError">There was an error saving the information.</div>

<button type="submit" class="btn btn-primary" onclick="return validateForm();"><span class="glyphicon glyphicon-floppy-disk"></span> Save changes</button>


<script>
    function validateForm(source) {

        var valid = true;

        if ($("#Name").length) {
            if (source == null || (source != null && source.id == "Name")) {
                if ($("#Name").val() == "" || $("#Name").val() == null) {
                    showError("Name");
                    valid = false;
                }
                else if ($("#Name").val().length > 100) {
                    showError("Name", "The name must be no more than 100 characters.");
                    valid = false;
                }
                else {
                    hideError("Name");
                }
            }
        }

        if ($("#TypeId").length) {
            if (source == null || (source != null && source.id == "TypeId")) {
                if ($("#TypeId").val() == "" || $("#TypeId").val() == null) {
                    showError("TypeId");
                    valid = false;
                }
                else {
                    hideError("TypeId");
                }
            }
        }

        if ($("#RadioType").length) {
            if (source == null || (source != null && (source.name == "RadioType"))) {
                var atLeastOneIsChecked = $('#RadioType :radio:checked').length > 0;
                if (!atLeastOneIsChecked) {
                    showError("RadioType");
                    valid = false;
                }
                else {
                    hideError("RadioType");
                }
            }
        }

        if ($("#CheckboxType").length) {
            if (source == null || (source != null && $('#CheckboxType').find('#' + source.id).length)) {
                var atLeastOneIsChecked = $('#CheckboxType :checkbox:checked').length > 0;
                if (!atLeastOneIsChecked) {
                    showError("CheckboxType");
                    valid = false;
                }
                else {
                    hideError("CheckboxType");
                }
            }
        }

        if (!valid) {
            $("#lblError").text('Please correct the validation errors indicated above in red.');
            $("#lblError").removeClass("hide");
        }
        else {
            $("#lblError").addClass("hide");
        }

        $("#lblSuccess").addClass("hide");

        return valid;
    }

    function showError(fieldname, message) {
        $("#" + fieldname).addClass("validation_error");
        $("#" + fieldname).removeClass("validation_success");
        $("#" + fieldname + "_error").removeClass("hide");
        if (message != null) {
            $("#" + fieldname + "_error").text(message);
        }
    }

    function hideError(fieldname) {
        $("#" + fieldname).removeClass("validation_error");
        $("#" + fieldname + "_error").addClass("hide");
    }
</script>
