﻿@{
    ViewBag.Title = "Cannot Access";
}
<h2>@ViewBag.Title</h2>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Oops</h3>
    </div>
    <div class="panel-body">

        Sorry, you cannot access this page.

    </div>
</div>
