﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hiddenblock {
    display: none;
}

.required:after {
    content: " *";
    color: red;
}

.hide {
    visibility: hidden;
    display: block;
}

.errortext {
    font-size: 0.8em;
    font-weight: 400;
    display: block;
    color: red;
}

.validation_error {
    background: url('../Content/Images/error_small.png') no-repeat center right #fff;
    border: 1px solid red !important;
    border-radius: 5px;
}

.validation_success {
    background: url('../Content/Images/success_small.png') no-repeat center right #fff;
    border: 1px solid green;
    border-radius: 5px;
}

.modal-header {
    padding: 5px 10px;
}
.modal-body {
    padding: 5px;
}