﻿@{
    ViewBag.Title = "Changes Saved";
}

<h3>Your changes were successfully saved!</h3>

<script>

    $(function () {

        initPage('@ViewBag.Title');

        refreshParentGrid();

        setTimeout(closePage, 2000);
    });
</script>