﻿@using PortfolioExamples.Business.ViewModels
@model AddressViewModel
@{
    if (Model.AddressID == 0)
    {
        ViewBag.Title = "Create Address";
    }
    else
    {
        ViewBag.Title = "Edit Address";
    }
}

<div class="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            <span class="required"></span> Indicates a required field
            <form method="post">
                <div class="form-group">
                    <label for="AddressLine1" class="required">Address 1</label>
                    <input type="text" class="form-control" id="AddressLine1" name="AddressLine1" placeholder="Address 1" value="@Model.AddressLine1" maxlength="60" onblur="validateForm(this)">
                    <div id="AddressLine1_error" class="errortext hide">Please enter an address.</div>
                </div>
                <div class="form-group">
                    <label for="AddressLine2">Address 2</label>
                    <input type="text" class="form-control" id="AddressLine2" name="AddressLine2" placeholder="Address 2" value="@Model.AddressLine2" maxlength="60">
                </div>
                <div class="form-group">
                    <label for="City" class="required">City</label>
                    <input type="text" class="form-control" id="City" name="City" placeholder="City" value="@Model.City" maxlength="30">
                    <div id="City_error" class="errortext hide">Please enter a city.</div>
                </div>
                <div class="form-group">
                    <label for="StateProvince" class="required">State</label>
                    <input type="text" class="form-control" id="StateProvince" name="StateProvince" placeholder="State" value="@Model.StateProvince" maxlength="50">
                    <div id="StateProvince_error" class="errortext hide">Please enter a state.</div>
                </div>
                <div class="form-group">
                    <label for="CountryRegion" class="required">Country</label>
                    <input type="text" class="form-control" id="CountryRegion" name="CountryRegion" placeholder="Country" value="@Model.CountryRegion" maxlength="50">
                    <div id="CountryRegion_error" class="errortext hide">Please enter a country.</div>
                </div>
                <div class="form-group">
                    <label for="PostalCode" class="required">Zip</label>
                    <input type="text" class="form-control" id="PostalCode" name="PostalCode" placeholder="Zip" value="@Model.PostalCode" maxlength="15">
                    <div id="PostalCode_error" class="errortext hide">Please enter a zip code.</div>
                </div>

                <div class="alert alert-danger bold hide" id="lblError">There was an error saving the information.</div>

                <button type="submit" class="btn btn-primary" onclick="return submitForm();"><span class="glyphicon glyphicon-floppy-disk"></span> Save changes</button>

                @if (Model.AddressID > 0)
                {
                    <div class="pull-right">
                        <input type="hidden" id="RemoveRecord" name="RemoveRecord" value="false" />
                        <button type="submit" class="btn btn-danger" onclick="return removeRecord();"><span class="glyphicon glyphicon-remove-sign"></span> Remove</button>
                    </div>
                }
            </form>
        </div>
    </div>
</div>

<script>
    
    function submitForm() {
        if (validateForm()) {            
            return true;
        }
        else {
            return false;
        }
    }

    function removeRecord() {
        if (confirm('Are you sure you want to remove this record?')) {
            $('#RemoveRecord').val('true');
            return true;
        }
        else {
            return false;
        }
    }

    function validateForm(source) {

        var valid = true;

        if (!applyRequiredFieldValidation(source, 'AddressLine1')) {
            valid = false;
        }

        if (!applyRequiredFieldValidation(source, 'City')) {
            valid = false;
        }

        if (!applyRequiredFieldValidation(source, 'StateProvince')) {
            valid = false;
        }

        if (!applyRequiredFieldValidation(source, 'CountryRegion')) {
            valid = false;
        }

        if (!applyRequiredFieldValidation(source, 'PostalCode')) {
            valid = false;
        }

        if (!valid) {
            $("#lblError").text('Please correct the validation errors indicated above in red.');
            $("#lblError").removeClass("hide");
        }
        else {
            $("#lblError").addClass("hide");
        }

        return valid;
    }    

    $(function () {

        initPage('@ViewBag.Title');
    });
</script>