﻿@{
    ViewBag.Title = "Addresses";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="pull-left">
        <a id="btnAdd" href="#" class="btn btn-success btn-xs modal-link">Add Record</a>
    </div>
    <br />
    <br />

    <table id="tblAddresses" class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Address 1</th>
                <th>Address 2</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Zip</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Address 1</th>
                <th>Address 2</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Zip</th>
            </tr>
        </tfoot>
    </table>
</div>

<div id="dialog-form" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <iframe id="modaliframe" class="modal-iframe" seamless="seamless" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    // https://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
    function getParameterByName(name) {
        var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
        return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
    }

    var tblAddresses;

    function initializeTable() {

        var databaseType = getParameterByName('databaseType');
        var databaseParam = '';
        if (databaseType) {
            databaseParam = '?databaseType=' + databaseType;
        }

        tblAddresses = $('#tblAddresses').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: '@Url.Action("IndexAjax")' + databaseParam,
                type: 'POST'
            },
            order: [[ 1, 'asc' ]],
            columns: [
                { data: 'AddressID', orderable: false },
                { data: 'AddressLine1' },
                { data: 'AddressLine2' },
                { data: 'City' },
                { data: 'StateProvince' },
                { data: 'CountryRegion' },
                { data: 'PostalCode' }
            ],
            columnDefs: [{
                targets: 0,
                data: 'AddressID',
                render: function (data, type, row, meta) {
                    return '<a href="@Url.Action("Edit")/' + data + databaseParam + '" class="btn btn-primary btn-xs modal-link">Edit</a>';
                }
            }]
        });

        tblAddresses.on('draw', function () {
            initModalLink();
        });

        $('#btnAdd').attr('href', '@Url.Action("Edit")' + databaseParam);
    }

    function refreshGrid() {
        tblAddresses.draw();
    }

    function resizeModalDialog() {
        $("#dialog-form .modal-dialog").css("width", $(document).width() - 50);
        $("#modaliframe").css("height", (window.innerHeight - 110) + "px");
        $("#modaliframe").css("width", "100%");
        $('.modal-backdrop').css("height", $(document).height() + "px");
    }

    function initModalLink() {
        $('.modal-link').off('click');
        $('.modal-link').on('click', function () {
            var modalUrlTarget = $(this).attr('href');
            var url = window.location.href;
            $("#modaliframe").attr('src', modalUrlTarget);
            $('#dialog-form').modal('show');
            return false;
        });
    }

    function initialize() {

        $('#dialog-form').modal({
            keyboard: false,
            backdrop: 'static',
            show: false
        });

        $(window).resize(function () {
            resizeModalDialog();
        });

        $('#dialog-form').on('show.bs.modal', function (e) {
            setTimeout("$(window).resize();", 300);
            setTimeout("$(window).resize();", 1000);
        });

        $('#dialog-form').on('hide.bs.modal', function (e) {
            $("#modaliframe").attr('src', '');
            setTitle('');
        });

        initModalLink();

        initializeTable();
    }

    $(function () {

        initialize();

    });
</script>