﻿@{ 
    var currentPage = Request.Url.Segments.LastOrDefault();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - portfolio-examples Live Demo</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    @Styles.Render("~/Content/dashboard.css")
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/tinymce/tinymce.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/tinymce-vue.min.js")"></script>

    <!-- development version, includes helpful console warnings -->
    @*<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>*@

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>

    <script src='//unpkg.com/autonumeric'></script>
    <script src='//unpkg.com/vue-autonumeric'></script>

    <!-- Icons -->
    <script type="text/javascript" src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>

    <style>
        .navbar-brand {
            padding: 5px;
        }

        .container {
            max-width: 95%;
            width: 95%;            
        }

        .container-with-top-padding {
            margin-top: 60px;
        }

        .modal-dialog {
            max-width: 90%;
        }

        .hiddenblock {
            display: none;
        }

        .AjaxLoader {
            position: fixed;
            top: 30%;
            width: 90%;            
            z-index: 100000;
        }

            .AjaxLoader > div {
                display: table;
                margin: 0 auto;
            }
    </style>
</head>
<body>

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">portfolio-examples &mdash; Agreement Application</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @{ if (currentPage == "Index" || currentPage == "App") { WriteLiteral("active"); } }">
                        <a class="nav-link" href="@Url.Action("Index")"><span data-feather="home"></span> Dashboard</a>
                    </li>
                    <li class="nav-item @{ if (currentPage == "ApplicationTypes") { WriteLiteral("active"); } }">
                        <a class="nav-link" href="@Url.Action("ApplicationTypes")"><span data-feather="file"></span> Application Types</a>
                    </li>
                    <li class="nav-item @{ if (currentPage == "Applications") { WriteLiteral("active"); } }">
                        <a class="nav-link" href="@Url.Action("Applications")"><span data-feather="list"></span> Applications</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main class="container container-with-top-padding">
        @RenderBody()        
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">By Portfolio Website</span>
        </div>
    </footer> 

    <!-- Icons -->
    <script>
        function initializeIcons() {
            feather.replace();
        }

        initializeIcons();
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("myChart");
        if (ctx) {
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                    datasets: [{
                        data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                        lineTension: 0,
                        backgroundColor: 'transparent',
                        borderColor: '#007bff',
                        borderWidth: 4,
                        pointBackgroundColor: '#007bff'
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    },
                    legend: {
                        display: false,
                    }
                }
            });
        }
    </script>
    
</body>
</html>
