﻿@{ 
    var currentPage = Request.Url.Segments.LastOrDefault();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - portfolio-examples Live Demo</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    @Styles.Render("~/Content/dashboard.css")
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script type="text/javascript" src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    @*<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>*@

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>

    <script src='//unpkg.com/autonumeric'></script>
    <script src='//unpkg.com/vue-autonumeric'></script>

    <style>
        .navbar-brand {
            padding: 5px;
        }

        .container {
            max-width: 1000px;
            width: 95%;            
        }

        .container-with-top-padding {
            margin-top: 20px;
        }

        .hiddenblock {
            display: none;
        }

        .blue-header {
            background-color: #5B9BD5;
            color: white;
        }
    </style>
</head>
<body>
    
    <!-- Begin page content -->
    <main class="container container-with-top-padding">
        @RenderBody()        
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">By Portfolio Website</span>
        </div>
    </footer>
    
    <!-- Icons -->
    <script>
        function initializeIcons() {
            feather.replace();
        }

        initializeIcons();
    </script>
        
</body>
</html>
