﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - portfolio-examples Live Demo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    @Scripts.Render("~/bundles/common")
</head>
<body style="padding-top: 0;">    
    <div class="container body-content">
        @RenderBody()        
        <footer>
            <hr />
            <p>By Portfolio Website</p>
        </footer>
    </div>

</body>
</html>
