﻿@{ 
    var currentPage = Request.Url.Segments.LastOrDefault();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - portfolio-examples Live Demo</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    @Styles.Render("~/Content/dashboard.css")
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script type="text/javascript" src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    @*<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>*@

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>

    <script src='//unpkg.com/autonumeric'></script>
    <script src='//unpkg.com/vue-autonumeric'></script>

    <script src="@Url.Content("~/Scripts/VueTheMask.umd.js")"></script>

    <style>
        .navbar-brand {
            padding: 5px;
        }

        .container {
            max-width: 1000px;
            width: 95%;            
        }

        .container-with-top-padding {
            margin-top: 20px;
        }

        .hiddenblock {
            display: none;
        }

        .blue-header {
            background-color: #5B9BD5;
            color: white;
        }
        
        #ReportTemplate {
            display: inline-block;
            text-align: left;
        }

            #ReportTemplate * {
                font-family: Calibri;
            }

        .report-outline {
            border: 2px solid black;
            width: 800px;
        }

        .center {
            text-align: center;
        }

        .full-width {
            width: 100%;
        }

        .center-with-padding {
            text-align: center;
            padding: 3px;
        }

        .uppercase-bold {
            text-transform: uppercase;
            font-weight: bold;
        }

        .smaller {
            font-size: smaller;
        }

        .thick-border-top {
            border-top: 2px solid black;
        }

        .thick-border-bottom {
            border-bottom: 2px solid black;
        }

        .thin-border-bottom {
            border-bottom: 1px solid black;
        }

        .thin-border-left {
            border-left: 1px solid black;
        }

        .thick-border-left {
            border-left: 2px solid black;
        }

        .thin-border-top {
            border-top: 1px solid black;
        }

        .termtable td {
            vertical-align: top;
            line-height: 1em;
        }

        .fieldtable {
            width: 100%;
            border-spacing: 0;
        }

            .fieldtable td {
                border-bottom: 1px solid black;
                margin: 0;
                padding: 0 4px;
                font-size: smaller;
                vertical-align: top;
                height: 40px;
            }

        .fieldtable-select td {
            height: 20px;
        }

        .fieldtable-small td {
            font-size: 11px;
            border-bottom: 2px solid black;
        }

        .field-value {
            font-weight: bold;
            font-size: 14px;
        }

        .print-margins {
            margin-top: 40px !important;
            margin-left: 10px !important;
            min-width: 840px !important;
        }
    </style>
</head>
<body>
    
    <!-- Begin page content -->
    <main id="pnlContainer" class="container container-with-top-padding">
        @RenderBody()        
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">By Portfolio Website</span>
        </div>
    </footer>
    
    <!-- Icons -->
    <script>
        function initializeIcons() {
            feather.replace();
        }

        initializeIcons();
    </script>
        
</body>
</html>
